// Groups.
.story-group--lead {
  @include clearfix;
}

.paragraph--type--queue,
.paragraph--type--movement-news {
  .story-group--column_left {
    @include page-left;
  }
  .story-group--column_right {
    @include page-right;
  }
}

.column-left {
  @include page-left;
  margin-bottom: 20px;
}

.column-right{
  @include page-right;
  margin-bottom: 20px;
}

.teaser-conditional-with-image,
.story--teaser-image-medium,
.story--teaser-image-large {
  margin-bottom: 35px;

  @include breakpoint($tablet) {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 50px;
  }
}

.story--teaser-image-large {
  img {
    width: 100%;

    @include breakpoint($desktop) {
      max-width: 95%;
      width: 480px;
    }
  }

  .content {
    @include breakpoint($desktop) {
      border-bottom: 1px solid $c-gr7d;
    }
  }
}

/*
@Todo story styles are general now. Should be moved to node/story...
*/

.story--teaser-image-medium,
.teaser-conditional-with-image {
  img {
    height: auto;
    margin-bottom: 15px;
    max-width: 100%;

    @include breakpoint($tablet) {
      margin-bottom: 0;
      max-width: 95%;
      width: 270px;
    }
  }

  .content {
    border-bottom: 1px solid $c-gr7d;
  }

  .node__content {
    @include clearfix-before;
    margin-bottom: 25px;

    @include breakpoint($desktop) {
      margin-bottom: 40px;
    }
  }
}

// Selectively removing border.
.border-none .story--teaser-image-medium .content {
  border-bottom: 0;
}
