// Ads.
.field--name-field-ad,
.field--name-field-ads,
.field--name-field-ad-right,
.field--name-field-ad-left {
  img {
    height: auto;
    width: 100%;
  }
}

.field--name-field-ad {
  margin-bottom: 60px;
}

.field--name-field-ads {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr  1fr;
  margin-bottom: 60px;
}
