// Slice Title
.slice-title {
  @include title-fancy-red;
}

// Slice Date.
.field--name-field-date {
  color: $c-red;
  font-family: $ff-din-regular;
  font-size: 10px;
  text-transform: uppercase;

  @include breakpoint($desktop) {
    font-size: 16px;
  }
}

// Story Link.
.story-link {
  .field--name-field-nested-right & {
    margin-bottom: 30px;
  }

  // Story List
  .story--teaser-conditional-image & {
    margin-bottom: 25px;
  }
}

// Node Title.
h4 {
  .story--teaser-image-large & {
    font-size: 36px;
    text-transform: uppercase;

    @include breakpoint($desktop-large) {
      font-size: 42px;
    }
  }

  // Weekend left with pic
  .field--name-field-nested-left .story--teaser-image-medium &,
  .sub-stories .story--teaser-image-medium & {
    font-size: 26px;
  }

  // Paragraph Left. Fixes breaking layout at intermediate widths.
  .paragraph-stories .story-group--column_left & {
    @include breakpoint($desktop) {
      font-size: 24px;
    }
    @include breakpoint($desktop-large) {
      font-size: 30px;
    }
  }

  // Left no pic
  .story-group--column_left .story--teaser &,
  .field--name-field-nested-left .story--teaser &,
  .sub-stories .story--teaser & {
    font-size: 22px;
  }

  // Right
  .story-group--column_right .story--teaser &,
  .field--name-field-nested-right & {
    font-size: 18px;
    text-transform: none;
  }

  // Story List
  .teaser-conditional-no-image & {
    font-size: 24px;
  }
}

// Story Label.
.story-label {
  .story-group--column_right &,
  .story-group--column_left &,
  .sub-stories &,
  .paragraph--type--nested & {
    font-size: 13px;
    margin-bottom: 3px;
  }

  // Story List Teasers
  .story--teaser-conditional-image & {
    font-size: 12px;
  }
}

// Teaser Body Style.
.field--name-field-teaser {
  // Weekend right
  .story-group--column_right &,
  .field--name-field-nested-right & {
    font-size: 13px;
    line-height: 15px;
  }

  // Story List Teasers
  .story--teaser-conditional-image & {
    font-size: 13.5px;
  }
}

// Nested Paragraph border titles.
.column-left {
  .paragraph--type--nested {
    .field--name-field-display-title {
      @include title-fancy-black;
      border-width: 1px;
      font-size: 20px;
      line-height: 25px;
      margin-bottom: 22px;
      padding-right: 45px;

      &:after {
        height: 20px;
        width: 40px;
      }
    }
  }
}

.column-right {
  .weekend-also {
    @include title-fancy-black;
    border-width: 4px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 36px;
    padding-right: 25px;

    &:after {
      height: 40px;
      width: 20px;
    }
  }

  .paragraph--type--nested {
    .field--name-field-display-title {
      @include ff-din-bold;
      border-top: 1px solid $c-gr7d;
      font-size: 16px;
      line-height: 30px;
      margin-bottom: 18px;
      text-transform: uppercase;
    }
  }
}
