.reading__content {

  // Headlines.
  .field--name-name,
  .field--name-field-issue-header {
    font-family: $ff-din-medium;
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 10px;
    padding-top: 70px;

    @include breakpoint($handheld) {
      padding-top: 0;
    }

    @include breakpoint($desktop) {
      padding-top: 0;
    }
  }

  // Captions.
  .field--name-field-book-caption,
  .field--name-field-issue-caption {
    color: $c-gr6;
    font-family: $ff-helv;
    font-size: 14px;
    line-height: 18px;

    @include breakpoint($handheld) {
      width: 220px;
    }

    @include breakpoint($desktop) {
      width: auto;
    }
  }

  // Space between "image" and headline.
  .field--name-field-media-image,
  .field--name-field-issue-cover-image img {
    margin-bottom: 16px;
  }

  // "Grid" Layout
  .view-sw-what-were-reading {
    margin-bottom: 25px;

    @include breakpoint($desktop) {
      float: left;
      max-width: 320px;
      width: 260px;
    }

    @include breakpoint($desktop-large) {
      width: 320px;
    }
  }

  // Issue and Book
  .reading__content-right {
    @include breakpoint($desktop) {
      float: right;
      width: calc(100% - 260px);
    }

    @include breakpoint($desktop-large) {
      width: calc(100% - 320px);
    }
  }

  .field--name-field-book {
    margin-bottom: 25px;

    @include breakpoint($handheld) {
      float: left;
      margin: 0 auto;
      min-width: 220px;
      width: calc(50% - 20px);
    }

    @include breakpoint($desktop) {
      float: right;
      margin: 0 20px 0 0;
      width: calc(100% - 260px);
    }

    @include breakpoint($desktop-large) {
      margin-right: 0;
    }

    .media--type-book {

      @include breakpoint($handheld) {
        width: 220px;
      }

      @include breakpoint($desktop) {
        margin: 0 auto;
      }
    }
  }

  .issue {
    margin-bottom: 25px;

    @include breakpoint($handheld) {
      float: right;
      margin: 0 auto;
      width: calc(50% - 20px);
    }

    @include breakpoint($desktop) {
      margin: 0;
      width: 220px;
    }

    .content {
      margin-bottom: 0;
    }

    .field--name-field-issue-cover-image {
      float: left;
      margin-right: 20px;

      @include breakpoint($handheld) {
        float: none;
        margin-right: 0;
      }

      @include breakpoint($desktop) {
        margin-right: 20px;
      }
    }
  }

  // Book mat.
  .field--name-field-media-image {
    align-items: center;
    background: #f1f2f2;
    border: 1px solid #b8babc;
    display: flex;
    float: left;
    height: 290px;
    justify-content: center;
    margin-right: 20px;
    width: 220px;

    @include breakpoint($desktop) {
      float: none;
    }

    img {
      height: auto;
      max-height: 80%;
      max-width: 80%;
    }
  }

  // Hide title on issue
  // @todo keep from rendering.
  .field--name-field-issue {

    h2 {
      display: none;
    }
  }
}
