// Groups.
.story-group--lead {
  @include clearfix;
}

.paragraph--type--queue,
.paragraph--type--movement-news {
  .story-group--column_left {
    @include page-left;
  }
  .story-group--column_right {
    @include page-right;
  }
}

.column-left {
  @include page-left;
  margin-bottom: 20px;
}

.column-right {
  @include page-right;
  margin-bottom: 20px;
}

/*
@Todo story styles are general now. Should be moved to node/story...
*/
.story--teaser-image-large,
.story--teaser-image-medium,
.teaser-conditional-with-image {
  margin-bottom: 35px;

  @include breakpoint($desktop-large) {
    display: grid;
    margin-bottom: 50px;
  }

  img {
    height: auto;
    margin-bottom: 15px;
    max-width: 100%;
    width: 100%;

    @include breakpoint($desktop-large) {
      margin-bottom: 0;
    }
  }

  .node__content {
    @include clearfix-before;
  }
}

.story--teaser-image-large {

  @include breakpoint($desktop) {
    grid-gap: 30px;
    grid-template-columns: 400px auto;
  }

  @include breakpoint($desktop-large) {
    grid-gap: 60px;
    grid-template-columns: 550px auto;
  }

  &.large-fallback {
    @include breakpoint($desktop) {
      grid-template-columns: 366px auto;
    }
  }
}

.story--teaser-image-medium,
.teaser-conditional-with-image {
  @include breakpoint(500px) {
    margin-bottom: 50px;
  }

  @include breakpoint($desktop) {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 200px auto;
  }

  @include breakpoint($desktop-large) {
    grid-gap: 40px;
    grid-template-columns: 290px auto;
  }
}
