.page * {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  position: relative; }
  .page * .contextual {
    position: absolute; }

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0; }

h1 {
  font-size: 30px;
  line-height: 40px; }
  @media (min-width: 736px) {
    h1 {
      font-size: 45px;
      line-height: 55px; } }

h2 {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold; }
  @media (min-width: 736px) {
    h2 {
      font-size: 32px;
      line-height: 48px; } }

h3 {
  font-size: 24px;
  line-height: 40px; }
  @media (min-width: 736px) {
    h3 {
      font-size: 36px;
      line-height: 50px; } }
  .view h3 {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal;
    border-top: 1px solid red;
    color: red;
    font-size: 24px;
    line-height: 32px;
    padding-right: 57px;
    position: relative;
    text-transform: uppercase; }
    .view h3:after {
      background: red;
      content: '';
      height: 26px;
      position: absolute;
      right: 0;
      top: 0;
      width: 52px; }

h4 {
  font-size: 21px;
  line-height: 28px; }

h5 {
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

a {
  text-decoration: none; }
  a:link {
    color: #EA3223; }
  a:visited, a:link:visited {
    color: #EA3223; }
  a:focus {
    color: #EA3223; }
  a.active:hover,
  .menu-item--active-trail a:hover, a.visited:hover, a:hover {
    color: #EA3223; }
  a.active, a.is-active, a:active,
  .menu-item--active-trail a {
    color: #EA3223; }
  a:hover {
    text-decoration: underline; }

img {
  display: block; }
  @media (min-width: 736px) {
    img.align-left,
    .align-left img {
      padding-right: 20px; }
    img.align-right,
    .align-right img {
      padding-left: 20px; }
    img.align-center,
    .align-center img {
      margin: 0 auto; } }

hr {
  border: none;
  height: 10px;
  display: block;
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative; }
  hr::after, hr::before {
    background: #ff0000;
    content: ' ';
    display: block;
    height: 10px;
    position: absolute;
    width: 10px; }
  hr::before {
    left: calc(50% - 15px); }
  hr::after {
    right: calc(50% - 15px); }

blockquote {
  font-size: 90%;
  line-height: 24px; }

span.bullet {
  background: #ff0000;
  content: ' ';
  height: 10px;
  width: 10px;
  margin: 0 5px 0 0;
  display: inline-block; }

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px; }

.svgsprite {
  display: none; }

.item-list ul li,
.item-list ol li {
  margin-bottom: .5em; }

.submitted {
  color: grey;
  font-size: 13px; }

.field--name-created {
  color: #808080;
  display: block;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 14px; }

.field--name-field-teaser p {
  margin: 0; }

.clearfix:after {
  clear: both;
  content: " ";
  display: table; }

.page-container,
main {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%; }
  @media (min-width: 541px) {
    .page-container,
    main {
      padding: 0 15px; } }
  @media (min-width: 736px) {
    .page-container,
    main {
      padding: 0 60px; } }
  @media (min-width: 961px) {
    .page-container,
    main {
      padding: 0 120px; } }

.page-title {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  padding-bottom: 20px; }
  @media (min-width: 736px) {
    .page-title {
      font-size: 50px;
      line-height: 50px; } }
  @media (min-width: 961px) {
    .page-title {
      font-size: 60px;
      line-height: 55px; } }
  .page-title.page-title-full {
    margin-bottom: 10px; }

.story-label {
  color: #808080;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase; }
  @media (min-width: 961px) {
    .story-label {
      font-size: 16px; } }

h4 {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  color: black;
  font-size: 30px;
  line-height: 1;
  margin-bottom: .5em; }

.field--name-field-teaser {
  color: #666666;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 961px) {
    .field--name-field-teaser {
      font-size: 15px; } }

.story-link {
  display: block;
  margin-bottom: 50px; }
  .story-link:hover, .story-link:visited:hover {
    opacity: .8;
    text-decoration: none; }
    .story-link:hover .field--name-field-kicker,
    .story-link:hover h4,
    .story-link:hover .field--name-field-teaser, .story-link:visited:hover .field--name-field-kicker,
    .story-link:visited:hover h4,
    .story-link:visited:hover .field--name-field-teaser {
      color: #72726c; }
  .story-link:visited .field--name-field-kicker,
  .story-link:visited h4,
  .story-link:visited .field--name-field-teaser {
    color: #725c5f; }

.contextual {
  z-index: 400; }

.view-sw-recent .views-row {
  margin-bottom: 25px; }

.view .feed-icons {
  display: none; }

.header {
  background: black;
  color: white;
  margin-bottom: 15px;
  padding: 15px 0 5px;
  text-align: left; }
  @media (min-width: 961px) {
    .header {
      margin-bottom: 0;
      padding: 30px 0 20px;
      vertical-align: bottom; } }

.header-logo-group {
  float: left;
  width: calc(100% - 70px); }
  @media (min-width: 961px) {
    .header-logo-group {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; } }

@media (min-width: 961px) {
  .header-logo {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    display: inline-block;
    width: calc(100% - 275px); } }

.header-logo img {
  height: auto;
  width: 100%; }
  @media (min-width: 961px) {
    .header-logo img {
      margin: 0;
      max-width: 575px; } }

.header-sublogo {
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase; }
  @media (min-width: 961px) {
    .header-sublogo {
      font-size: 12px;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      display: inline-block;
      text-align: right;
      width: 275px; } }

.sublogo-mod {
  color: #757575; }

.region-header {
  display: none;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 198px); }
  @media (min-width: 961px) {
    .region-header {
      display: inline-block; } }

.header-menu-expandable-mobile {
  float: right;
  width: 70px; }
  @media (min-width: 961px) {
    .header-menu-expandable-mobile {
      display: none; } }

.footer-wrapper {
  background: black;
  color: white;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center; }
  .footer-wrapper .block {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%; }
    @media (min-width: 541px) {
      .footer-wrapper .block {
        padding: 0 15px; } }
    @media (min-width: 736px) {
      .footer-wrapper .block {
        padding: 0 60px; } }
    @media (min-width: 961px) {
      .footer-wrapper .block {
        padding: 0 120px; } }
  .footer-wrapper p {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px; }
  .footer-wrapper p:first-of-type {
    color: #EA3223; }

.page-node-type-story .node--type-story {
  font-family: "PT Serif", "Georgia", "Times New Roman", "Times", serif;
  font-size: 18px;
  line-height: 22px; }
  @media (min-width: 961px) {
    .page-node-type-story .node--type-story {
      line-height: 27px; } }

.page-node-type-story .story-label {
  margin-bottom: 6px; }
  .page-node-type-story .story-label a {
    color: #808080;
    text-decoration: none; }
  .page-node-type-story .story-label a:hover {
    color: #ff0000;
    text-decoration: underline; }
  @media (min-width: 961px) {
    .page-node-type-story .story-label {
      font-size: 15px; } }

.page-node-type-story .page-title {
  margin-bottom: 26px; }
  @media (min-width: 961px) {
    .page-node-type-story .page-title {
      font-size: 56px;
      letter-spacing: -1px; } }

.page-node-type-story .field--name-field-introduction {
  font-style: italic; }

.page-node-type-story .node__content .sw-subject,
.page-node-type-story .node__content .sw-author {
  font-weight: bold; }
  .page-node-type-story .node__content .sw-subject a,
  .page-node-type-story .node__content .sw-author a {
    color: #1A272E; }
  .page-node-type-story .node__content .sw-subject a:hover,
  .page-node-type-story .node__content .sw-author a:hover {
    color: #ff0000; }

.page-node-type-story .field--name-field-body-introduction {
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #808080;
  margin-bottom: 15px; }
  .page-node-type-story .field--name-field-body-introduction b,
  .page-node-type-story .field--name-field-body-introduction strong,
  .page-node-type-story .field--name-field-body-introduction .sw-subject,
  .page-node-type-story .field--name-field-body-introduction .sw-author {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal; }

.page-node-type-story .field--name-created {
  border-bottom: 1px solid #808080;
  margin-bottom: 24px; }

.page-node-type-story .field--name-field-body {
  margin-bottom: 50px; }
  .page-node-type-story .field--name-field-body > p:first-child:before {
    background: #ff0000;
    color: #ff0000;
    content: ' ';
    display: block;
    float: left;
    height: 40px;
    left: 0;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 7px;
    width: 40px; }
  .page-node-type-story .field--name-field-body .question {
    color: #808080;
    font-style: italic;
    font-weight: bold; }

.page-node-type-story .contributors {
  font-style: italic; }

.page-node-type-story .series-navigation {
  margin: 0 0 20px 0; }
  .page-node-type-story .series-navigation:after {
    clear: both;
    content: " ";
    display: table; }
  .page-node-type-story .series-navigation .series-prev {
    float: left;
    margin: 0 20px 0 0; }
  .page-node-type-story .series-navigation .series-next {
    float: right;
    margin: 0 0 0 20px; }
  .page-node-type-story .series-navigation .nav-label {
    font-size: 15px;
    font-style: italic; }
  .page-node-type-story .series-navigation .story-link {
    margin-bottom: 25px; }
    .page-node-type-story .series-navigation .story-link .story-label {
      font-size: 13px;
      margin-bottom: 0; }
    .page-node-type-story .series-navigation .story-link h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-transform: none; }
    .page-node-type-story .series-navigation .story-link .field--name-field-teaser {
      font-size: 12px;
      line-height: 16px; }

.page-node-type-story .forward-page {
  display: none; }

.body {
  max-width: 800px;
  padding: 10px; }
  @media (min-width: 961px) {
    .body {
      padding: 10px 150px; } }

.header {
  background-color: #000;
  padding: 20px; }
  @media (min-width: 961px) {
    .header {
      padding: 20px 150px; } }

.header-sublogo {
  text-align: left;
  margin: 10px 0 0 0; }

.site-name {
  display: none; }

.entity-url {
  font-size: 14px; }

.message {
  margin: 20px 0;
  padding: 10px;
  border: 1px solid #ddd; }

.further-reading ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0; }
  .further-reading ul li {
    list-style: none;
    margin-left: 0; }

.further-reading .story-link {
  margin-bottom: 25px; }
  .further-reading .story-link .story-label {
    font-size: 13px;
    margin-bottom: 0; }
  .further-reading .story-link h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-transform: none; }
  .further-reading .story-link .field--name-field-teaser {
    font-size: 12px;
    line-height: 16px; }

h2 {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  margin: 40px 0 5px 0; }

.footer-wrapper .site-footer {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 30px; }
  @media (min-width: 736px) {
    .footer-wrapper .site-footer {
      padding: 0 60px; } }
  @media (min-width: 961px) {
    .footer-wrapper .site-footer {
      padding: 0 120px; } }

/**
 * We rely on this for the follow links, but it's not included in our
 * theme and we inherit from classy. Include it here so we're sure
 * it's delivered with the email CSS.
 */
.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal; }

.page-node-type-story .embedded-entity ~ * {
  position: static; }

article.embedded-entity .media--view-mode-embed,
.caption-article {
  border-bottom: 10px solid #ff0000;
  margin: 0 auto;
  max-width: 290px; }
  @media (min-width: 541px) {
    article.embedded-entity .media--view-mode-embed,
    .caption-article {
      float: left;
      margin: 4px 20px 20px 0; } }
  @media (min-width: 961px) {
    article.embedded-entity .media--view-mode-embed,
    .caption-article {
      margin-bottom: 20px;
      margin-left: -88px;
      margin-right: 40px; } }
  article.embedded-entity .media--view-mode-embed img,
  .caption-article img {
    height: auto;
    width: 100%; }
  article.embedded-entity .media--view-mode-embed figcaption,
  .caption-article figcaption {
    font-family: "FF DIN Pro Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 16px;
    padding-top: 4px; }

article.embedded-entity .media--view-mode-embed-wide {
  border-bottom: 10px solid #ff0000; }
  article.embedded-entity .media--view-mode-embed-wide img {
    height: auto;
    margin: 0 auto;
    width: 100%; }

.caption-article.embed-wide {
  float: none;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 961px) {
    .caption-article.embed-wide {
      margin: 0 auto; } }

.node--type-insert-box {
  border-top: 4px solid #1A272E;
  padding-top: 13px;
  border-bottom: 10px solid #ff0000;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto 20px;
  max-width: 80%; }
  @media (min-width: 961px) {
    .node--type-insert-box {
      float: left;
      margin-bottom: 20px;
      margin-left: -88px;
      margin-right: 40px;
      max-width: 290px; } }
  .node--type-insert-box .story-label {
    margin-bottom: 0; }
  .node--type-insert-box h2 {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .node--type-insert-box img,
  .node--type-insert-box object {
    height: auto;
    max-width: 100%; }
  .node--type-insert-box .story-list ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; }
    .node--type-insert-box .story-list ul li {
      list-style: none;
      margin-left: 0; }
  .node--type-insert-box .story-link {
    margin-bottom: 25px; }
    .node--type-insert-box .story-link .story-label {
      font-size: 13px;
      margin-bottom: 0; }
    .node--type-insert-box .story-link h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-transform: none; }
    .node--type-insert-box .story-link .field--name-field-teaser {
      font-size: 12px;
      line-height: 16px; }

.series .all-link {
  text-align: center; }

/**
 * Styles shared for all social links, both share links in stories
 * (see _share_links.scss), and follow links in the site-wide footer
 * (see _follow_links.scss).
 */
.social-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0; }
  .social-links li {
    height: 40px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 40px; }
  .social-links .hover {
    opacity: 0; }
  .social-links a:hover {
    color: #ff0000; }
    .social-links a:hover .hover {
      opacity: 1; }
    .social-links a:hover .default {
      opacity: 0; }
  .social-links svg {
    height: 40px;
    text-indent: 0;
    width: 40px; }

/**
 * Styles specific to the follow links in the site footer.
 */
.footer-wrapper .follow-label {
  font-size: 16px;
  text-transform: uppercase; }

.footer-wrapper .social-links {
  display: block;
  text-align: center; }
  .footer-wrapper .social-links li {
    display: inline-block;
    margin: 0 10px; }

button,
input[type=submit] {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  background: red;
  border: 0;
  color: white;
  padding: 6px 16px;
  text-transform: uppercase; }
  button:hover,
  input[type=submit]:hover {
    background: #808080; }

label {
  display: block;
  font-family: "PT Serif", "Georgia", "Times New Roman", "Times", serif;
  font-size: 16px;
  font-weight: 700; }

input[type=text],
input[type=password],
input[type=email] {
  line-height: 40px;
  margin-bottom: 6px;
  width: 100%; }

.form-submit {
  line-height: 1; }

textarea {
  border: 1px solid #CBCFD6; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 1px solid #CBCFD6;
  border-radius: 5px;
  color: #46494B;
  height: 50px;
  line-height: 1;
  padding: 10px;
  width: 100%; }

.form-type-select {
  position: relative; }

/*# sourceMappingURL=email.css.map */
