.page * {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  position: relative; }
  .page * .contextual {
    position: absolute; }

body {
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0; }

h1 {
  font-size: 30px;
  line-height: 40px; }
  @media (min-width: 736px) {
    h1 {
      font-size: 45px;
      line-height: 55px; } }

h2 {
  font-size: 26px;
  line-height: 40px;
  font-weight: bold; }
  @media (min-width: 736px) {
    h2 {
      font-size: 32px;
      line-height: 48px; } }

h3 {
  font-size: 24px;
  line-height: 40px; }
  @media (min-width: 736px) {
    h3 {
      font-size: 36px;
      line-height: 50px; } }
  .view h3 {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal;
    border-top: 1px solid red;
    color: red;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    text-transform: uppercase; }
    .view h3:after {
      background: red;
      content: '';
      height: 26px;
      position: absolute;
      right: 0;
      top: 0;
      width: 52px; }

h4 {
  font-size: 21px;
  line-height: 28px; }

h5 {
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

a {
  text-decoration: none; }
  a:link {
    color: #EA3223; }
  a:visited, a:link:visited {
    color: #EA3223; }
  a:focus {
    color: #EA3223; }
  a.active:hover,
  .menu-item--active-trail a:hover, a.visited:hover, a:hover {
    color: #EA3223; }
  a.active, a.is-active, a:active,
  .menu-item--active-trail a {
    color: #EA3223; }
  a:hover {
    text-decoration: underline; }

img {
  display: block; }
  @media (min-width: 736px) {
    img.align-left,
    .align-left img {
      padding-right: 20px; }
    img.align-right,
    .align-right img {
      padding-left: 20px; }
    img.align-center,
    .align-center img {
      margin: 0 auto; } }

hr {
  border: none;
  height: 10px;
  display: block;
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative; }
  hr::after, hr::before {
    background: #ff0000;
    content: ' ';
    display: block;
    height: 10px;
    position: absolute;
    width: 10px; }
  hr::before {
    left: calc(50% - 15px); }
  hr::after {
    right: calc(50% - 15px); }

blockquote {
  font-size: 90%;
  line-height: 24px; }

span.bullet {
  background: #ff0000;
  content: ' ';
  height: 10px;
  width: 10px;
  margin: 0 5px 0 0;
  display: inline-block; }

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px; }

.svgsprite {
  display: none; }

.item-list ul li,
.item-list ol li {
  margin-bottom: .5em; }

.submitted {
  color: grey;
  font-size: 13px; }

.field--name-created {
  color: #808080;
  display: block;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 14px; }

.field--name-field-teaser p {
  margin: 0; }

.clearfix:after {
  clear: both;
  content: " ";
  display: table; }

.page-container,
main {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%; }
  @media (min-width: 541px) {
    .page-container,
    main {
      padding: 0 15px; } }
  @media (min-width: 736px) {
    .page-container,
    main {
      padding: 0 60px; } }
  @media (min-width: 961px) {
    .page-container,
    main {
      padding: 0 120px; } }

.page-title {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  padding-bottom: 20px; }
  @media (min-width: 736px) {
    .page-title {
      font-size: 50px;
      line-height: 50px; } }
  @media (min-width: 961px) {
    .page-title {
      font-size: 60px;
      line-height: 55px; } }
  .page-title.page-title-full {
    margin-bottom: 10px; }

.view-sw-recent .views-row {
  margin-bottom: 25px; }

.view .feed-icons {
  display: none; }

@media (min-width: 961px) {
  .region-sidebar {
    padding-left: 30px; } }

.layout-sidebar .flexible--container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }
  @media (min-width: 961px) {
    .layout-sidebar .flexible--container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: calc(100% - 350px) 350px;
          grid-template-columns: calc(100% - 350px) 350px; } }

.layout-sidebar .region-content {
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1; }
  @media (min-width: 961px) {
    .layout-sidebar .region-content {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; } }

.layout-sidebar .region-sidebar {
  -webkit-order: 3;
      -ms-flex-order: 3;
          order: 3; }
  @media (min-width: 961px) {
    .layout-sidebar .region-sidebar {
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; } }

.layout-sidebar .region-content-bottom {
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }
  @media (min-width: 961px) {
    .layout-sidebar .region-content-bottom {
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 3;
      -webkit-order: 0;
          -ms-flex-order: 0;
              order: 0; } }

.footer-wrapper {
  background: black;
  color: white;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center; }
  .footer-wrapper .block {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 10px;
    width: 100%; }
    @media (min-width: 541px) {
      .footer-wrapper .block {
        padding: 0 15px; } }
    @media (min-width: 736px) {
      .footer-wrapper .block {
        padding: 0 60px; } }
    @media (min-width: 961px) {
      .footer-wrapper .block {
        padding: 0 120px; } }
  .footer-wrapper p {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px; }
  .footer-wrapper p:first-of-type {
    color: #EA3223; }

.header {
  background: black;
  color: white;
  margin-bottom: 15px;
  padding: 15px 0 5px;
  text-align: left; }
  @media (min-width: 961px) {
    .header {
      margin-bottom: 0;
      padding: 30px 0 20px;
      vertical-align: bottom; } }

.header-logo-group {
  float: left;
  width: calc(100% - 70px); }
  @media (min-width: 961px) {
    .header-logo-group {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; } }

@media (min-width: 961px) {
  .header-logo {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    display: inline-block;
    width: calc(100% - 275px); } }

.header-logo img {
  height: auto;
  width: 100%; }
  @media (min-width: 961px) {
    .header-logo img {
      margin: 0;
      max-width: 575px; } }

.header-sublogo {
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 11px;
  line-height: 1;
  text-transform: uppercase; }
  @media (min-width: 961px) {
    .header-sublogo {
      font-size: 12px;
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      display: inline-block;
      text-align: right;
      width: 275px; } }

.sublogo-mod {
  color: #757575; }

.region-header {
  display: none;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 198px); }
  @media (min-width: 961px) {
    .region-header {
      display: inline-block; } }

.header-menu-expandable-mobile {
  float: right;
  width: 70px; }
  @media (min-width: 961px) {
    .header-menu-expandable-mobile {
      display: none; } }

.region-main-menu .search-block-form {
  text-align: right; }
  .region-main-menu .search-block-form .form-search {
    display: none; }
  .region-main-menu .search-block-form svg {
    color: white;
    font-size: 18px;
    padding-right: 7px;
    padding-top: 3px; }
  .region-main-menu .search-block-form .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 8px 0 6px;
    text-transform: uppercase; }

.menu-trigger {
  font-size: 30px;
  text-align: center;
  margin: 0 0 0 40px;
  width: 30px; }
  .menu-trigger svg {
    color: red; }

.menu-trigger-text {
  color: white;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 11px; }
  @media (min-width: 961px) {
    .menu-trigger-text {
      font-size: 11.4px; } }

.menu-trigger-desktop {
  display: none; }
  @media (min-width: 961px) {
    .menu-trigger-desktop {
      display: block;
      left: 20px;
      position: absolute;
      top: 40px;
      z-index: 200; } }

.menu-expanded-close {
  margin-bottom: 10px;
  text-align: right;
  text-transform: uppercase; }
  .menu-expanded-close .menu-expanded-close-text {
    border: 1px solid #757575;
    display: inline-block;
    padding: 3px 10px; }

.region-expanded-menu {
  background: black;
  color: white;
  display: none;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 16px;
  height: 100%;
  min-height: calc(100vh - 80px);
  line-height: 22px;
  padding: 0 30px 30px;
  position: absolute;
  transition: none;
  width: 100%;
  top: 94px;
  z-index: 200; }
  @media (min-width: 961px) {
    .region-expanded-menu {
      top: 144px;
      min-height: calc(100vh - 150px);
      width: 220px; } }
  .region-expanded-menu .block-menu > ul > li {
    margin-bottom: 10px; }
  .region-expanded-menu ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    .region-expanded-menu ul li {
      margin: 0;
      padding: 0;
      list-style: none; }
      .region-expanded-menu ul li a {
        padding: 5px 0; }
  .region-expanded-menu nav > ul > li > a {
    color: white;
    text-transform: uppercase; }

.region-expanded-menu .block-search {
  width: 100%; }
  .region-expanded-menu .block-search h2 {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase; }
  .region-expanded-menu .block-search form {
    position: relative; }
  .region-expanded-menu .block-search .form-search {
    color: black;
    font-size: 18px;
    height: 40px;
    margin-bottom: 20px;
    width: 100%; }
  .region-expanded-menu .block-search svg {
    color: #B3B5B8;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 7px; }
  .region-expanded-menu .block-search .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color: transparent;
    font-size: 0px;
    position: absolute;
    height: 40px;
    right: 5px;
    top: 0;
    width: 40px;
    z-index: 400; }

.region-main-menu {
  background: black;
  border-top: 1px solid #747474;
  display: none;
  font-size: 12px;
  font-family: "FF DIN Pro Regular", sans-serif;
  margin-bottom: 52px;
  text-transform: uppercase;
  width: 100%;
  z-index: 100; }
  @media (min-width: 961px) {
    .region-main-menu {
      display: block; } }
  @media (min-width: 961px) {
    .region-main-menu .page-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 200px;
          grid-template-columns: auto 200px; } }
  .region-main-menu ul.menu {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; }
    .region-main-menu ul.menu li {
      list-style: none; }
  .region-main-menu li {
    display: inline-block; }
  .region-main-menu nav > ul > li:first-child > a {
    padding-left: 0; }
  .region-main-menu nav > ul > li > a {
    display: block;
    padding: 2px 40px 2px; }
    .region-main-menu nav > ul > li > a:link {
      color: white; }
    .region-main-menu nav > ul > li > a:visited, .region-main-menu nav > ul > li > a:link:visited {
      color: white; }
    .region-main-menu nav > ul > li > a:focus {
      color: white; }
    .region-main-menu nav > ul > li > a.is-active:hover, .region-main-menu nav > ul > li > a.active:hover,
    .region-main-menu nav > ul > li > a .menu-item--active-trail a:hover, .region-main-menu nav > ul > li > a.visited:hover, .region-main-menu nav > ul > li > a:hover {
      color: #ff0000; }
    .region-main-menu nav > ul > li > a.active, .region-main-menu nav > ul > li > a.is-active, .region-main-menu nav > ul > li > a:active,
    .menu-item--active-trail .region-main-menu nav > ul > li > a {
      color: #ff0000; }
  .region-main-menu nav > ul > li.menu-item--active-trail > a,
  .region-main-menu nav > ul > li > a.is-active,
  .region-main-menu nav > ul > li > a:hover {
    color: #ff0000;
    text-decoration: none; }
  .region-main-menu .menu-item--expanded {
    position: relative; }
    .region-main-menu .menu-item--expanded ul {
      border-color: #DDDDDD;
      display: none;
      left: 31px;
      padding: 16px 0;
      position: absolute;
      text-align: left;
      width: 238px;
      z-index: 300; }
    .region-main-menu .menu-item--expanded:first-child ul {
      left: 0; }
    .region-main-menu .menu-item--expanded:hover ul {
      display: block; }
    .region-main-menu .menu-item--expanded li {
      display: block;
      margin: 0; }
    .region-main-menu .menu-item--expanded li a {
      background: rgba(255, 255, 255, 0.95);
      display: block;
      font-size: 16px;
      margin: 0;
      text-transform: none; }
      .region-main-menu .menu-item--expanded li a:link {
        color: #1A272E; }
      .region-main-menu .menu-item--expanded li a:visited, .region-main-menu .menu-item--expanded li a:link:visited {
        color: #1A272E; }
      .region-main-menu .menu-item--expanded li a:focus {
        color: #1A272E; }
      .region-main-menu .menu-item--expanded li a.is-active:hover, .region-main-menu .menu-item--expanded li a.active:hover,
      .region-main-menu .menu-item--expanded li a .menu-item--active-trail a:hover, .region-main-menu .menu-item--expanded li a.visited:hover, .region-main-menu .menu-item--expanded li a:hover {
        color: #ff0000; }
      .region-main-menu .menu-item--expanded li a.active, .region-main-menu .menu-item--expanded li a.is-active, .region-main-menu .menu-item--expanded li a:active,
      .menu-item--active-trail .region-main-menu .menu-item--expanded li a {
        color: #ff0000; }
      .region-main-menu .menu-item--expanded li a:hover {
        color: red;
        text-decoration: none; }
    .region-main-menu .menu-item--expanded ul ul {
      left: 236px;
      top: 0; }
    .region-main-menu .menu-item--expanded ul:before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(255, 255, 255, 0.95);
      color: rgba(255, 255, 255, 0.95);
      content: '.';
      height: 0;
      position: absolute;
      top: -10px;
      width: 0; }
  .region-main-menu a {
    padding: 2px 20px 2px; }
  .region-main-menu .primary-level-two-active {
    display: none; }
    @media (min-width: 1201px) {
      .region-main-menu .primary-level-two-active {
        background: rgba(250, 250, 250, 0.4);
        display: block;
        left: 0;
        text-transform: none; }
        .region-main-menu .primary-level-two-active li {
          display: inline-block; }
          .region-main-menu .primary-level-two-active li:hover a,
          .region-main-menu .primary-level-two-active li.menu-item--active-trail a {
            background: white;
            border-color: transparent; } }
    .region-main-menu .primary-level-two-active a {
      margin-left: 0; }
  .region-main-menu ul > .menu-item--expanded li > a:after {
    color: #EA3223;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    right: 14px;
    top: 10px; }
  .region-main-menu ul > .menu-item--expanded li:hover > a:after {
    color: white; }

.region-utility-menu {
  background: black;
  opacity: .8;
  text-align: right; }
  .region-utility-menu ul {
    margin: 0; }
    .region-utility-menu ul li {
      display: block;
      float: left;
      margin: 0;
      padding: 0; }
      .region-utility-menu ul li:last-child a {
        border-right: 0; }
    .region-utility-menu ul a {
      border-right: 1px solid #EEEEEE;
      color: #dcdcdc;
      font-size: 10px;
      padding: 0 5px; }

.page-node-type-story .node--type-story {
  font-family: "PT Serif", "Georgia", "Times New Roman", "Times", serif;
  font-size: 18px;
  line-height: 22px; }
  @media (min-width: 961px) {
    .page-node-type-story .node--type-story {
      line-height: 27px; } }

.page-node-type-story .story-label {
  margin-bottom: 6px; }
  .page-node-type-story .story-label a {
    color: #808080;
    text-decoration: none; }
  .page-node-type-story .story-label a:hover {
    color: #ff0000;
    text-decoration: underline; }
  @media (min-width: 961px) {
    .page-node-type-story .story-label {
      font-size: 15px; } }

.page-node-type-story .page-title {
  margin-bottom: 26px; }
  @media (min-width: 961px) {
    .page-node-type-story .page-title {
      font-size: 56px;
      letter-spacing: -1px; } }

.page-node-type-story .field--name-field-introduction {
  font-style: italic; }

.page-node-type-story .node__content .sw-subject,
.page-node-type-story .node__content .sw-author {
  font-weight: bold; }
  .page-node-type-story .node__content .sw-subject a,
  .page-node-type-story .node__content .sw-author a {
    color: #1A272E; }
  .page-node-type-story .node__content .sw-subject a:hover,
  .page-node-type-story .node__content .sw-author a:hover {
    color: #ff0000; }

.page-node-type-story .field--name-field-body-introduction {
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  border-bottom: 1px solid #808080;
  margin-bottom: 15px; }
  .page-node-type-story .field--name-field-body-introduction b,
  .page-node-type-story .field--name-field-body-introduction strong,
  .page-node-type-story .field--name-field-body-introduction .sw-subject,
  .page-node-type-story .field--name-field-body-introduction .sw-author {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal; }

.page-node-type-story .field--name-created {
  border-bottom: 1px solid #808080;
  margin-bottom: 24px; }

.page-node-type-story .field--name-field-body {
  margin-bottom: 50px; }
  .page-node-type-story .field--name-field-body > p:first-child:before {
    background: #ff0000;
    color: #ff0000;
    content: ' ';
    display: block;
    float: left;
    height: 40px;
    left: 0;
    margin-bottom: 0;
    margin-right: 10px;
    margin-top: 7px;
    width: 40px; }
  .page-node-type-story .field--name-field-body .question {
    color: #808080;
    font-style: italic;
    font-weight: bold; }

.page-node-type-story .contributors {
  font-style: italic; }

.page-node-type-story .series-navigation {
  margin: 0 0 20px 0; }
  .page-node-type-story .series-navigation:after {
    clear: both;
    content: " ";
    display: table; }
  .page-node-type-story .series-navigation .series-prev {
    float: left;
    margin: 0 20px 0 0; }
  .page-node-type-story .series-navigation .series-next {
    float: right;
    margin: 0 0 0 20px; }
  .page-node-type-story .series-navigation .nav-label {
    font-size: 15px;
    font-style: italic; }
  .page-node-type-story .series-navigation .story-link {
    margin-bottom: 25px; }
    .page-node-type-story .series-navigation .story-link .story-label {
      font-size: 13px;
      margin-bottom: 0; }
    .page-node-type-story .series-navigation .story-link h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-transform: none; }
    .page-node-type-story .series-navigation .story-link .field--name-field-teaser {
      font-size: 12px;
      line-height: 16px; }

.page-node-type-blog-critical-reading .node--type-blog-critical-reading {
  font-family: "PT Serif", "Georgia", "Times New Roman", "Times", serif;
  font-size: 18px;
  line-height: 22px; }
  @media (min-width: 961px) {
    .page-node-type-blog-critical-reading .node--type-blog-critical-reading {
      line-height: 27px; } }

.page-node-type-blog-critical-reading .field--name-field-article-url {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 5px; }
  .page-node-type-blog-critical-reading .field--name-field-article-url a:link {
    color: #1A272E; }
  .page-node-type-blog-critical-reading .field--name-field-article-url a:visited, .page-node-type-blog-critical-reading .field--name-field-article-url a:link:visited {
    color: #1A272E; }
  .page-node-type-blog-critical-reading .field--name-field-article-url a:focus {
    color: #1A272E; }
  .page-node-type-blog-critical-reading .field--name-field-article-url a.is-active:hover, .page-node-type-blog-critical-reading .field--name-field-article-url a.active:hover,
  .page-node-type-blog-critical-reading .field--name-field-article-url a .menu-item--active-trail a:hover, .page-node-type-blog-critical-reading .field--name-field-article-url a.visited:hover, .page-node-type-blog-critical-reading .field--name-field-article-url a:hover {
    color: #ff0000; }
  .page-node-type-blog-critical-reading .field--name-field-article-url a.active, .page-node-type-blog-critical-reading .field--name-field-article-url a.is-active, .page-node-type-blog-critical-reading .field--name-field-article-url a:active,
  .menu-item--active-trail .page-node-type-blog-critical-reading .field--name-field-article-url a {
    color: #1A272E; }

.page-node-type-blog-critical-reading .field--name-field-article-source {
  color: #808080;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 18px;
  margin-bottom: 25px;
  text-transform: uppercase; }
  .page-node-type-blog-critical-reading .field--name-field-article-source::before {
    content: 'Source: '; }

.page-node-type-blog-critical-reading .field--name-field-blog-comment {
  border-bottom: 1px solid #808080;
  border-top: 1px solid #808080;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 25px;
  padding-top: 15px; }
  .page-node-type-blog-critical-reading .field--name-field-blog-comment b,
  .page-node-type-blog-critical-reading .field--name-field-blog-comment strong,
  .page-node-type-blog-critical-reading .field--name-field-blog-comment .sw-subject,
  .page-node-type-blog-critical-reading .field--name-field-blog-comment .sw-author {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal; }

.view-sw-series-stories .field--name-description {
  font-family: "FF DIN Pro Regular", sans-serif; }
  .view-sw-series-stories .field--name-description b, .view-sw-series-stories .field--name-description strong {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal; }

.view-sw-series-stories .field--name-field-series-logo {
  float: left;
  margin: 0 20px 10px 0; }

.view-sw-series-stories .view-header {
  border-bottom: 1px solid #808080;
  margin: 0 0 20px 0; }
  .view-sw-series-stories .view-header:after {
    clear: both;
    content: " ";
    display: table; }

.region-content-bottom {
  border-top: 1px solid;
  padding-top: 44px; }
  @media (min-width: 961px) {
    .region-content-bottom {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .region-content-bottom .block {
    margin-bottom: 50px; }
    @media (min-width: 961px) {
      .region-content-bottom .block {
        -webkit-flex-grow: 1;
            -ms-flex-positive: 1;
                flex-grow: 1;
        min-width: 170px;
        width: 400px; } }
    @media (min-width: 961px) {
      .region-content-bottom .block:first-child {
        margin-right: 30px; } }
    @media (min-width: 961px) {
      .region-content-bottom .block:nth-child(3) {
        margin-left: 30px; } }
    .region-content-bottom .block .field--name-field-queue > .field--name-title {
      display: none; }
  .region-content-bottom h2 {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal;
    color: #ff0000;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase; }
  .region-content-bottom ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; }
    .region-content-bottom ul li {
      list-style: none;
      margin-left: 0; }
  .region-content-bottom .story-link {
    margin-bottom: 25px; }
    .region-content-bottom .story-link .story-label {
      font-size: 13px;
      margin-bottom: 0; }
    .region-content-bottom .story-link h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-transform: none; }
    .region-content-bottom .story-link .field--name-field-teaser {
      font-size: 12px;
      line-height: 16px; }

.region-sidebar h2 {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase; }

.region-sidebar .block {
  margin-bottom: 20px; }

@media (min-width: 961px) {
  .block-sw-recent-articles-block {
    border-bottom: 1px solid #bbb; } }

.block-sw-recent-articles-block h2 {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  border-top: 1px solid #1A272E;
  color: #1A272E;
  position: relative;
  text-transform: uppercase;
  border-width: 2px;
  font-size: 26px;
  line-height: 44px;
  margin: 0;
  padding: 0; }
  .block-sw-recent-articles-block h2:after {
    background: #1A272E;
    content: '';
    position: absolute;
    right: 0;
    top: 0; }
  .block-sw-recent-articles-block h2:after {
    height: 33px;
    width: 17px; }

.block-sw-recent-articles-block .recent-articles-dates {
  font-size: 12px;
  line-height: 18px;
  border-bottom: 1px solid #bbb;
  margin-bottom: 20px; }
  .block-sw-recent-articles-block .recent-articles-dates a {
    text-decoration: none; }
    .block-sw-recent-articles-block .recent-articles-dates a:link {
      color: #1A272E; }
    .block-sw-recent-articles-block .recent-articles-dates a:visited, .block-sw-recent-articles-block .recent-articles-dates a:link:visited {
      color: #1A272E; }
    .block-sw-recent-articles-block .recent-articles-dates a:focus {
      color: #1A272E; }
    .block-sw-recent-articles-block .recent-articles-dates a.is-active:hover, .block-sw-recent-articles-block .recent-articles-dates a.active:hover,
    .block-sw-recent-articles-block .recent-articles-dates a .menu-item--active-trail a:hover, .block-sw-recent-articles-block .recent-articles-dates a.visited:hover, .block-sw-recent-articles-block .recent-articles-dates a:hover {
      color: #ff0000; }
    .block-sw-recent-articles-block .recent-articles-dates a.active, .block-sw-recent-articles-block .recent-articles-dates a.is-active, .block-sw-recent-articles-block .recent-articles-dates a:active,
    .menu-item--active-trail .block-sw-recent-articles-block .recent-articles-dates a {
      color: #ff0000; }
  .block-sw-recent-articles-block .recent-articles-dates ul {
    margin: 0;
    padding: 0;
    width: calc(100% - 23px); }
    .block-sw-recent-articles-block .recent-articles-dates ul li {
      display: inline-block;
      list-style: none;
      margin: 0;
      min-width: 45px;
      padding: 0;
      text-align: center;
      width: calc(100% / 6); }
      .block-sw-recent-articles-block .recent-articles-dates ul li a {
        display: block;
        font-family: "FF DIN Pro Regular", sans-serif;
        width: 100%; }

.block-sw-recent-articles-block .recent-articles-tabs a {
  margin-bottom: 0;
  text-decoration: none; }

.block-sw-recent-articles-block .recent-articles-tabs a:hover .headline {
  color: #ff0000; }

.block-sw-recent-articles-block .recent-articles-tabs a:visited .headline {
  color: #725c5f; }

.block-sw-recent-articles-block .recent-articles-tabs a:visited:hover .headline {
  color: #72726c; }

.block-sw-recent-articles-block .recent-articles-tabs .story-label {
  font-size: 11px;
  line-height: 14px;
  margin: 0; }

.block-sw-recent-articles-block .recent-articles-tabs .headline {
  color: #1A272E;
  font-size: 16px;
  line-height: 20px;
  font-family: "FF DIN Pro Medium", sans-serif; }

.block-sw-recent-articles-block .recent-articles-tabs ul {
  margin: 0;
  padding: 0; }
  .block-sw-recent-articles-block .recent-articles-tabs ul li {
    list-style: none;
    margin: 0 0 15px 0; }

.region-sidebar .block-sw-further-reading-block {
  display: none; }
  @media (min-width: 961px) {
    .region-sidebar .block-sw-further-reading-block {
      display: block; } }

.block-sw-further-reading-block ul {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0; }
  .block-sw-further-reading-block ul li {
    list-style: none;
    margin-left: 0; }

.block-sw-further-reading-block .story-link {
  margin-bottom: 25px; }
  .block-sw-further-reading-block .story-link .story-label {
    font-size: 13px;
    margin-bottom: 0; }
  .block-sw-further-reading-block .story-link h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-transform: none; }
  .block-sw-further-reading-block .story-link .field--name-field-teaser {
    font-size: 12px;
    line-height: 16px; }

.block-sw-recent-stories-block {
  border-top: 1px solid;
  margin-bottom: 60px;
  padding-top: 44px; }
  @media (min-width: 736px) {
    .block-sw-recent-stories-block {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 1fr 1fr;
          grid-template-columns: 1fr 1fr;
      grid-gap: 0 50px; } }
  @media (min-width: 961px) {
    .block-sw-recent-stories-block {
      -ms-grid-columns: 1fr 1fr 1fr;
          grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 0 70px; } }
  .block-sw-recent-stories-block h2 {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal;
    border-top: 1px solid red;
    color: red;
    font-size: 24px;
    line-height: 32px;
    position: relative;
    text-transform: uppercase;
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 3; }
    .block-sw-recent-stories-block h2:after {
      background: red;
      content: '';
      height: 26px;
      position: absolute;
      right: 0;
      top: 0;
      width: 52px; }
    @media (min-width: 961px) {
      .block-sw-recent-stories-block h2 {
        grid-column-end: 4; } }
  .block-sw-recent-stories-block .story-group {
    margin-bottom: 30px; }
  .block-sw-recent-stories-block h3 {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal;
    color: #ff0000;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase; }
  .block-sw-recent-stories-block ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; }
    .block-sw-recent-stories-block ul li {
      list-style: none;
      margin-left: 0; }
  .block-sw-recent-stories-block a {
    margin-bottom: 25px; }
    .block-sw-recent-stories-block a .story-label {
      font-size: 13px;
      margin-bottom: 0; }
    .block-sw-recent-stories-block a h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-transform: none; }
    .block-sw-recent-stories-block a .field--name-field-teaser {
      font-size: 12px;
      line-height: 16px; }

.block-views-blocksw-sidebar-media-block-1 .views-row {
  margin-bottom: 20px; }

.page-node-type-story .embedded-entity ~ * {
  position: static; }

article.embedded-entity .media--view-mode-embed,
.caption-article {
  border-bottom: 10px solid #ff0000;
  margin: 0 auto;
  max-width: 290px; }
  @media (min-width: 541px) {
    article.embedded-entity .media--view-mode-embed,
    .caption-article {
      float: left;
      margin: 4px 20px 20px 0; } }
  @media (min-width: 961px) {
    article.embedded-entity .media--view-mode-embed,
    .caption-article {
      margin-bottom: 20px;
      margin-left: -88px;
      margin-right: 40px; } }
  article.embedded-entity .media--view-mode-embed img,
  .caption-article img {
    height: auto;
    width: 100%; }
  article.embedded-entity .media--view-mode-embed figcaption,
  .caption-article figcaption {
    font-family: "FF DIN Pro Regular", sans-serif;
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 16px;
    padding-top: 4px; }

article.embedded-entity .media--view-mode-embed-wide {
  border-bottom: 10px solid #ff0000; }
  article.embedded-entity .media--view-mode-embed-wide img {
    height: auto;
    margin: 0 auto;
    width: 100%; }

.caption-article.embed-wide {
  float: none;
  max-width: 100%;
  width: 100%; }
  @media (min-width: 961px) {
    .caption-article.embed-wide {
      margin: 0 auto; } }

label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

input[type=text],
input[type=password],
input[type=email] {
  line-height: 50px;
  width: 100%; }

.form-submit {
  line-height: 1; }

textarea {
  border: 1px solid #CBCFD6; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 1px solid #CBCFD6;
  border-radius: 5px;
  color: #46494B;
  height: 50px;
  line-height: 1;
  padding: 10px;
  width: 100%; }

.form-type-select {
  position: relative; }

.node--type-insert-box {
  border-top: 4px solid #1A272E;
  padding-top: 13px;
  border-bottom: 10px solid #ff0000;
  font-family: Helvetica, sans-serif;
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto 20px;
  max-width: 80%; }
  @media (min-width: 961px) {
    .node--type-insert-box {
      float: left;
      margin-bottom: 20px;
      margin-left: -88px;
      margin-right: 40px;
      max-width: 290px; } }
  .node--type-insert-box .story-label {
    margin-bottom: 0; }
  .node--type-insert-box h2 {
    font-family: 'FF DIN Pro Bold', sans-serif;
    font-weight: normal;
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 10px; }
  .node--type-insert-box img,
  .node--type-insert-box object {
    height: auto;
    max-width: 100%; }
  .node--type-insert-box .story-list ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; }
    .node--type-insert-box .story-list ul li {
      list-style: none;
      margin-left: 0; }
  .node--type-insert-box .story-link {
    margin-bottom: 25px; }
    .node--type-insert-box .story-link .story-label {
      font-size: 13px;
      margin-bottom: 0; }
    .node--type-insert-box .story-link h4 {
      font-size: 16px;
      line-height: 20px;
      margin: 0;
      text-transform: none; }
    .node--type-insert-box .story-link .field--name-field-teaser {
      font-size: 12px;
      line-height: 16px; }

.series .all-link {
  text-align: center; }

.pager {
  font-family: "FF DIN Pro Medium", sans-serif;
  font-size: 13px;
  padding-bottom: 25px;
  text-transform: uppercase;
  text-align: center; }
  .pager:before {
    clear: both;
    content: " ";
    display: table; }
  .pager ul {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0; }
    .pager ul li {
      color: #c7c7c7;
      list-style: none;
      display: inline-block;
      padding: 0 17px;
      text-align: center; }
      .pager ul li.is-active {
        color: #ff0000; }
  .pager a:link {
    color: #1A272E; }
  .pager a:visited, .pager a:link:visited {
    color: #1A272E; }
  .pager a:focus {
    color: #1A272E; }
  .pager a.is-active:hover, .pager a.active:hover,
  .pager a .menu-item--active-trail a:hover, .pager a.visited:hover, .pager a:hover {
    color: #ff0000; }
  .pager a.active, .pager a.is-active, .pager a:active,
  .menu-item--active-trail .pager a {
    color: #1A272E; }

.social-links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  padding-left: 0; }
  .social-links li {
    height: 40px;
    margin-bottom: 20px;
    margin-left: 0;
    width: 40px; }
  .social-links .hover {
    display: none; }
  .social-links a:hover {
    color: #ff0000; }
    .social-links a:hover .hover {
      display: block; }
    .social-links a:hover .default {
      display: none; }
  .social-links svg {
    height: 40px;
    text-indent: 0;
    width: 40px; }

.more-links {
  opacity: 0;
  transition: opacity .2 ease-out;
  visibility: hidden;
  background: rgba(255, 255, 255, 0.9);
  border: 1px solid #b2b2b2;
  font-family: "FF DIN Pro Medium", sans-serif;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  padding: 20px 15px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 33px;
  z-index: 1; }
  .more-links.open {
    opacity: 1;
    visibility: visible; }
  @media (min-width: 961px) {
    .more-links {
      bottom: 20px;
      right: -141px;
      top: auto;
      width: 130px; } }
  @media (min-width: 961px) {
    .story-social-bottom .more-links {
      bottom: 70px;
      right: calc(50% - 65px); } }
  .more-links li {
    height: auto;
    margin: 0 0 10px;
    text-align: left;
    width: auto; }
    .story-social-bottom .more-links li {
      display: block;
      margin: 0 0 10px; }
  .more-links a:link {
    color: #1A272E; }
  .more-links a:visited, .more-links a:link:visited {
    color: #1A272E; }
  .more-links a:focus {
    color: #1A272E; }
  .more-links a.is-active:hover, .more-links a.active:hover,
  .more-links a .menu-item--active-trail a:hover, .more-links a.visited:hover, .more-links a:hover {
    color: #ff0000; }
  .more-links a.active, .more-links a.is-active, .more-links a:active,
  .menu-item--active-trail .more-links a {
    color: #1A272E; }
  .more-links a:hover {
    text-decoration: none; }

@media (min-width: 961px) {
  .story-social-left {
    position: absolute;
    left: -80px; } }

@media (min-width: 961px) {
  .story-social-left .social-links {
    display: block;
    padding: 0;
    margin: 5px 0 0 0; } }

@media (min-width: 961px) {
  .story-social-left li {
    display: block; } }

.story-social-bottom {
  text-align: center; }
  @media (min-width: 961px) {
    .story-social-bottom .social-links {
      display: inline-block; } }
  @media (min-width: 961px) {
    .story-social-bottom li {
      display: inline-block;
      margin: 0 10px; } }

.footer-wrapper .follow-label {
  font-size: 16px;
  text-transform: uppercase; }

.footer-wrapper .social-links {
  display: block;
  text-align: center; }
  .footer-wrapper .social-links li {
    display: inline-block;
    margin: 0 10px; }

.story-group--teaser_image_large:after {
  clear: both;
  content: " ";
  display: table; }

@media (min-width: 961px) {
  .paragraph--type--queue .story-group--teaser_image_medium {
    float: left;
    max-width: 630px;
    width: calc(66% - 50px); } }

@media (min-width: 961px) {
  .paragraph--type--queue .story-group--teaser {
    float: right;
    max-width: 320px;
    width: 34%; } }

.column-left {
  margin-bottom: 20px; }
  @media (min-width: 961px) {
    .column-left {
      float: left;
      max-width: 630px;
      width: calc(66% - 50px); } }

.column-right {
  margin-bottom: 20px; }
  @media (min-width: 961px) {
    .column-right {
      float: right;
      max-width: 320px;
      width: 34%; } }

.teaser-conditional-with-image,
.story--teaser-image-medium,
.story--teaser-image-large {
  margin-bottom: 35px; }
  @media (min-width: 736px) {
    .teaser-conditional-with-image,
    .story--teaser-image-medium,
    .story--teaser-image-large {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto auto;
          grid-template-columns: auto auto;
      margin-bottom: 50px; } }

.story--teaser-image-large img {
  width: 100%; }
  @media (min-width: 961px) {
    .story--teaser-image-large img {
      max-width: 95%;
      width: 480px; } }

@media (min-width: 961px) {
  .story--teaser-image-large .content {
    border-bottom: 1px solid #7d7d7d; } }

/*
@Todo story styles are general now. Should be moved to node/story...
*/
.story--teaser-image-medium img,
.teaser-conditional-with-image img {
  height: auto;
  margin-bottom: 15px;
  max-width: 100%; }
  @media (min-width: 736px) {
    .story--teaser-image-medium img,
    .teaser-conditional-with-image img {
      margin-bottom: 0;
      max-width: 95%;
      width: 270px; } }

.story--teaser-image-medium .content,
.teaser-conditional-with-image .content {
  border-bottom: 1px solid #7d7d7d; }

.story--teaser-image-medium .node__content,
.teaser-conditional-with-image .node__content {
  margin-bottom: 25px; }
  .story--teaser-image-medium .node__content:before,
  .teaser-conditional-with-image .node__content:before {
    clear: both;
    content: " ";
    display: table; }
  @media (min-width: 961px) {
    .story--teaser-image-medium .node__content,
    .teaser-conditional-with-image .node__content {
      margin-bottom: 40px; } }

.border-none .story--teaser-image-medium .content {
  border-bottom: 0; }

.slice-title {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  border-top: 1px solid red;
  color: red;
  font-size: 24px;
  line-height: 32px;
  position: relative;
  text-transform: uppercase; }
  .slice-title:after {
    background: red;
    content: '';
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    width: 52px; }

.field--name-field-date {
  color: red;
  font-family: "FF DIN Pro Regular", sans-serif;
  font-size: 10px;
  text-transform: uppercase; }
  @media (min-width: 961px) {
    .field--name-field-date {
      font-size: 16px; } }

.story-link {
  display: block;
  margin-bottom: 50px; }
  .story-link:hover, .story-link:visited:hover {
    opacity: .8;
    text-decoration: none; }
    .story-link:hover .field--name-field-kicker,
    .story-link:hover h4,
    .story-link:hover .field--name-field-teaser, .story-link:visited:hover .field--name-field-kicker,
    .story-link:visited:hover h4,
    .story-link:visited:hover .field--name-field-teaser {
      color: #72726c; }
  .story-link:visited .field--name-field-kicker,
  .story-link:visited h4,
  .story-link:visited .field--name-field-teaser {
    color: #725c5f; }
  .field--name-field-nested-right .story-link {
    margin-bottom: 30px; }
  .story--teaser-conditional-image .story-link {
    margin-bottom: 25px; }

h4 {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  color: black;
  font-size: 30px;
  line-height: 1;
  margin-bottom: .5em; }
  .node--view-mode-teaser-image-large h4 {
    font-size: 42px;
    text-transform: uppercase; }
  .story--teaser-image-large h4 {
    font-size: 50px;
    text-transform: uppercase; }
  .field--name-field-sub h4 {
    font-size: 22px;
    margin-bottom: 16px;
    text-transform: none; }
  .field--name-field-nested-left .story--teaser-image-medium h4 {
    font-size: 30px;
    text-transform: none; }
  .field--name-field-nested-left .node--view-mode-teaser h4 {
    font-size: 22px;
    text-transform: none; }
  .field--name-field-nested-right h4 {
    font-size: 18px;
    text-transform: none; }
  .teaser-conditional-width-image h4 {
    font-size: 28px; }
  .teaser-conditional-no-image h4 {
    font-size: 24px; }

.story-label {
  color: #808080;
  font-family: "Source Code Pro", monospace;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase; }
  @media (min-width: 961px) {
    .story-label {
      font-size: 16px; } }
  .field--name-field-sub .story-label,
  .paragraph--type--nested .story-label {
    font-size: 13px;
    margin-bottom: 3px; }
  .story--teaser-conditional-image .story-label {
    font-size: 12px; }

.field--name-field-teaser {
  color: #666666;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px; }
  @media (min-width: 961px) {
    .field--name-field-teaser {
      font-size: 15px; } }
  .field--name-field-teaser .field--name-field-nested-right {
    font-size: 13px;
    line-height: 15px; }
  .story--teaser-conditional-image .field--name-field-teaser {
    font-size: 13.5px; }

.column-left .paragraph--type--nested .field--name-field-display-title {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  border-top: 1px solid #1A272E;
  color: #1A272E;
  position: relative;
  text-transform: uppercase;
  border-width: 1px;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 22px; }
  .column-left .paragraph--type--nested .field--name-field-display-title:after {
    background: #1A272E;
    content: '';
    position: absolute;
    right: 0;
    top: 0; }
  .column-left .paragraph--type--nested .field--name-field-display-title:after {
    height: 20px;
    width: 40px; }

.column-right .weekend-also {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  border-top: 1px solid #1A272E;
  color: #1A272E;
  position: relative;
  text-transform: uppercase;
  border-width: 4px;
  font-size: 30px;
  line-height: 40px;
  margin-bottom: 36px; }
  .column-right .weekend-also:after {
    background: #1A272E;
    content: '';
    position: absolute;
    right: 0;
    top: 0; }
  .column-right .weekend-also:after {
    height: 40px;
    width: 20px; }

.column-right .paragraph--type--nested .field--name-field-display-title {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
  border-top: 1px solid #7d7d7d;
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 18px;
  text-transform: uppercase; }

.field--name-field-ad img,
.field--name-field-ads img,
.field--name-field-ad-right img,
.field--name-field-ad-left img {
  height: auto;
  width: 100%; }

.field--name-field-ad {
  margin-bottom: 60px; }

.field--name-field-ads {
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  -ms-grid-columns: 1fr 1fr  1fr;
      grid-template-columns: 1fr 1fr  1fr;
  margin-bottom: 60px; }

.user-login-form input {
  max-width: 100%; }
  @media (min-width: 736px) {
    .user-login-form input {
      width: 50%; } }

/*# sourceMappingURL=styles.css.map */
