* {
  box-sizing: border-box;
  transition: all .2s ease-in-out; }

body {
  font-family: "Barlow Condensed", Helvetica, sans-serif;
  font-size: 18px;
  line-height: 30px;
  margin: 0; }

h1 {
  font-size: 45px;
  line-height: 55px; }

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px; }

h3 {
  font-size: 36px;
  line-height: 50px; }

h4 {
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase; }

h5 {
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0; }

a {
  text-decoration: none; }
  a:link {
    color: #EA3223; }
  a:visited, a:link:visited {
    color: #EA3223; }
  a:focus {
    color: #EA3223; }
  a.active:hover, a.active-trail:hover, a.visited:hover, a:hover {
    color: #EA3223; }
  a.is-active, a:active, a.active-trail {
    color: #EA3223; }
  a:hover {
    text-decoration: underline; }

img {
  display: block; }
  @media (min-width: 821px) {
    img.align-left,
    .align-left img {
      padding-right: 20px; }
    img.align-right,
    .align-right img {
      padding-left: 20px; }
    img.align-center,
    .align-center img {
      margin: 0 auto; } }

.text-formatted img {
  max-width: 100%;
  padding-bottom: 20px; }

.text-formatted figure {
  margin: 0 0 1em;
  position: relative; }
  .text-formatted figure img {
    padding-bottom: 0px; }
  .text-formatted figure figcaption {
    font-size: 14px;
    line-height: 25px; }
    @media (min-width: 1201px) {
      .text-formatted figure figcaption {
        left: -193px;
        padding-top: 15px;
        position: absolute;
        text-align: right;
        top: 0;
        width: 170px; }
        .text-formatted figure figcaption:before {
          content: '';
          height: 5px;
          left: 0;
          position: absolute;
          top: -5px;
          width: 100%; } }

blockquote {
  font-size: 90%; }

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px; }

.item-list ul li,
.item-list ol li {
  margin-bottom: .5em; }

.submitted {
  color: grey;
  font-size: 13px; }

.clearfix:after {
  clear: both;
  content: " ";
  display: table; }

main {
  margin-top: 52px; }

.page-container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  @media (min-width: 961px) {
    .page-container {
      padding: 0 60px; } }
  @media (min-width: 961px) {
    .page-container {
      padding: 0 120px; } }

.footer-wrapper {
  background: black;
  color: white;
  font-size: 10px;
  padding-bottom: 30px;
  padding-top: 30px; }
  .footer-wrapper .block {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%; }
    @media (min-width: 961px) {
      .footer-wrapper .block {
        padding: 0 60px; } }
    @media (min-width: 961px) {
      .footer-wrapper .block {
        padding: 0 120px; } }
  .footer-wrapper p {
    margin: 0;
    font-family: Helvetica, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    text-align: center; }
  .footer-wrapper p:first-of-type {
    color: #EA3223; }

.header {
  background: black;
  color: white;
  padding: 15px 0 5px;
  text-align: left; }
  @media (min-width: 961px) {
    .header {
      padding: 30px 0 20px;
      vertical-align: bottom; } }

.header-logo-group {
  float: left;
  width: calc(100% - 70px); }
  @media (min-width: 961px) {
    .header-logo-group {
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 100%; } }

@media (min-width: 961px) {
  .header-logo {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    display: inline-block;
    width: calc(100% - 275px); } }

.header-logo img {
  height: auto;
  width: 100%; }
  @media (min-width: 961px) {
    .header-logo img {
      margin: 0;
      max-width: 575px; } }

.header-sublogo {
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase; }
  @media (min-width: 961px) {
    .header-sublogo {
      -webkit-align-self: flex-end;
          -ms-flex-item-align: end;
              align-self: flex-end;
      display: inline-block;
      text-align: right;
      width: 275px; } }

.sublogo-mod {
  color: #757575; }

.region-header {
  display: none;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 198px); }
  @media (min-width: 961px) {
    .region-header {
      display: inline-block; } }

.header-menu-expandable-mobile {
  float: right;
  width: 70px; }
  @media (min-width: 961px) {
    .header-menu-expandable-mobile {
      display: none; } }

.region-main-menu .search-block-form {
  padding-top: 6px;
  text-align: right; }
  .region-main-menu .search-block-form .form-search {
    display: none; }
  .region-main-menu .search-block-form svg {
    color: white;
    font-size: 18px;
    padding-right: 7px;
    padding-top: 3px; }
  .region-main-menu .search-block-form .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 13px 0;
    text-transform: uppercase; }

.menu-trigger {
  font-size: 30px;
  text-align: center;
  margin: 0 0 0 40px;
  width: 30px; }
  .menu-trigger svg {
    color: red; }

.menu-trigger-text {
  color: white;
  font-size: 11.4px; }

.menu-trigger-desktop {
  display: none; }
  @media (min-width: 961px) {
    .menu-trigger-desktop {
      display: block;
      left: 20px;
      position: absolute;
      top: 40px;
      z-index: 200; } }

.menu-expanded-close {
  margin-bottom: 10px;
  text-align: right;
  text-transform: uppercase; }
  .menu-expanded-close .menu-expanded-close-text {
    border: 1px solid #757575;
    display: inline-block;
    padding: 3px 10px; }

.region-expanded-menu {
  background: black;
  color: white;
  display: none;
  font-size: 16px;
  height: 100%;
  line-height: 22px;
  padding: 0 30px 30px;
  position: absolute;
  width: 100%;
  top: 80px; }
  @media (min-width: 961px) {
    .region-expanded-menu {
      top: 150px;
      width: 220px; } }
  .region-expanded-menu ul {
    margin: 0 0 10px;
    padding: 0;
    list-style: none; }
    .region-expanded-menu ul li {
      margin: 0;
      padding: 0;
      list-style: none; }
      .region-expanded-menu ul li a {
        padding: 5px 0; }
  .region-expanded-menu nav > ul > li > a {
    color: white;
    text-transform: uppercase; }

.region-expanded-menu .block-search {
  width: 100%; }
  .region-expanded-menu .block-search h2 {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase; }
  .region-expanded-menu .block-search form {
    position: relative; }
  .region-expanded-menu .block-search .form-search {
    color: black;
    font-size: 18px;
    height: 40px;
    margin-bottom: 20px;
    width: 100%; }
  .region-expanded-menu .block-search svg {
    color: #B3B5B8;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 7px; }
  .region-expanded-menu .block-search .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color: transparent;
    font-size: 0px;
    position: absolute;
    height: 40px;
    right: 5px;
    top: 0;
    width: 40px;
    z-index: 400; }

.region-main-menu {
  background: black;
  border-top: 1px solid #747474;
  display: none;
  font-size: 16px;
  font-family: "Barlow Condensed", Helvetica, sans-serif;
  font-weight: 100;
  letter-spacing: 1.07px;
  text-transform: uppercase;
  width: 100%;
  z-index: 100; }
  @media (min-width: 961px) {
    .region-main-menu {
      display: block; } }
  @media (min-width: 961px) {
    .region-main-menu .page-container {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: auto 200px;
          grid-template-columns: auto 200px; } }
  .region-main-menu ul {
    top: 54px; }
    .region-main-menu ul.menu {
      list-style: none;
      margin-bottom: 0;
      margin-left: 0;
      margin-top: 0;
      padding-left: 0; }
      .region-main-menu ul.menu li {
        list-style: none; }
  .region-main-menu li {
    display: inline-block; }
  .region-main-menu nav > ul > li:first-child > a {
    padding-left: 0; }
  .region-main-menu nav > ul > li > a {
    display: block;
    padding: 13px 23px 11px; }
    .region-main-menu nav > ul > li > a:link {
      color: white; }
    .region-main-menu nav > ul > li > a:visited, .region-main-menu nav > ul > li > a:link:visited {
      color: white; }
    .region-main-menu nav > ul > li > a:focus {
      color: white; }
    .region-main-menu nav > ul > li > a.is-active:hover, .region-main-menu nav > ul > li > a.active:hover, .region-main-menu nav > ul > li > a.active-trail:hover, .region-main-menu nav > ul > li > a.visited:hover, .region-main-menu nav > ul > li > a:hover {
      color: red; }
    .region-main-menu nav > ul > li > a.is-active, .region-main-menu nav > ul > li > a:active, .region-main-menu nav > ul > li > a.active-trail {
      color: white; }
  .region-main-menu nav > ul > li.menu-item--active-trail > a,
  .region-main-menu nav > ul > li > a.is-active,
  .region-main-menu nav > ul > li > a:hover {
    text-decoration: none; }
  .region-main-menu .menu-item--expanded {
    position: relative; }
    .region-main-menu .menu-item--expanded ul {
      border-color: #DDDDDD;
      display: none;
      left: 0;
      padding: 16px 0;
      position: absolute;
      text-align: left;
      width: 238px;
      z-index: 300; }
    .region-main-menu .menu-item--expanded:hover ul {
      display: block; }
    .region-main-menu .menu-item--expanded li {
      display: block;
      margin: 0; }
    .region-main-menu .menu-item--expanded li a {
      background: rgba(255, 255, 255, 0.95);
      color: black;
      display: block;
      font-size: 16px;
      margin: 0;
      text-transform: none; }
      .region-main-menu .menu-item--expanded li a:hover {
        color: red;
        text-decoration: none; }
    .region-main-menu .menu-item--expanded ul ul {
      left: 236px;
      top: 0; }
    .region-main-menu .menu-item--expanded ul:before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(255, 255, 255, 0.95);
      color: rgba(255, 255, 255, 0.95);
      content: '.';
      height: 0;
      position: absolute;
      top: -10px;
      width: 0; }
  .region-main-menu a {
    padding: 2px 20px 2px; }
  .region-main-menu .primary-level-two-active {
    display: none; }
    @media (min-width: 1201px) {
      .region-main-menu .primary-level-two-active {
        background: rgba(250, 250, 250, 0.4);
        display: block;
        left: 0;
        text-transform: none; }
        .region-main-menu .primary-level-two-active li {
          display: inline-block; }
          .region-main-menu .primary-level-two-active li:hover a,
          .region-main-menu .primary-level-two-active li.menu-item--active-trail a {
            background: white;
            border-color: transparent; } }
    .region-main-menu .primary-level-two-active a {
      margin-left: 0; }
  .region-main-menu ul > .menu-item--expanded li > a:after {
    color: #EA3223;
    -webkit-transform: rotate(270deg);
            transform: rotate(270deg);
    right: 14px;
    top: 10px; }
  .region-main-menu ul > .menu-item--expanded li:hover > a:after {
    color: white; }

.region-utility-menu {
  background: black;
  opacity: .8;
  text-align: right; }
  .region-utility-menu ul {
    margin: 0; }
    .region-utility-menu ul li {
      display: block;
      float: left;
      margin: 0;
      padding: 0; }
      .region-utility-menu ul li:last-child a {
        border-right: 0; }
    .region-utility-menu ul a {
      border-right: 1px solid #EEEEEE;
      color: #dcdcdc;
      font-size: 10px;
      padding: 0 5px; }

.region-content {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%; }
  @media (min-width: 961px) {
    .region-content {
      padding: 0 60px; } }
  @media (min-width: 961px) {
    .region-content {
      padding: 0 120px; } }

label {
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase; }

input[type=text],
input[type=password],
input[type=email] {
  line-height: 50px;
  width: 100%; }

.form-submit {
  line-height: 1; }

textarea {
  border: 1px solid #CBCFD6; }

select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: none;
  border: 1px solid #CBCFD6;
  border-radius: 5px;
  color: #46494B;
  height: 50px;
  line-height: 1;
  padding: 10px;
  width: 100%; }

.form-type-select {
  position: relative; }

.pager {
  padding-bottom: 25px;
  padding-left: 0; }
  .pager:before {
    clear: both;
    content: " ";
    display: table; }

.pager__items {
  display: table;
  float: none;
  margin: 0 auto;
  padding: 0; }

.pager__item {
  display: block;
  float: left;
  padding: 0; }
  .pager__item.is-active a {
    color: #4A4A4A;
    font-weight: 400; }
    .pager__item.is-active a:hover {
      background: none; }
  .pager__item:first-child a {
    border-left-width: 1px; }
  .pager__item.pager__item--ellipsis {
    display: none; }
  .pager__item.pager__item--first, .pager__item.pager__item--previous, .pager__item.pager__item--next, .pager__item.pager__item--last {
    color: #4A90E2; }
  .pager__item a {
    display: block;
    float: left;
    font-size: 15px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 39px; }
    @media (min-width: 821px) {
      .pager__item a {
        border-color: #DDDDDD;
        border-style: solid;
        border-width: 1px 1px 1px 0; } }
    .pager__item a:hover {
      background: #EAEBEC;
      text-decoration: none; }

.slice-title {
  border-top: 1px solid red;
  color: red;
  font-size: 28px;
  font-weight: 800;
  line-height: 32px;
  position: relative;
  text-transform: uppercase; }
  .slice-title:after {
    background: red;
    content: '';
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px; }

.field--name-field-date {
  color: red;
  font-size: 10px;
  text-transform: uppercase; }
  @media (min-width: 961px) {
    .field--name-field-date {
      font-size: 16px; } }

.story-group--teaser_image_large:after {
  clear: both;
  content: " ";
  display: table; }

@media (min-width: 961px) {
  .paragraph--type--queue .story-group--teaser_image_medium {
    float: left;
    max-width: 630px;
    width: calc(66% - 50px); } }

@media (min-width: 961px) {
  .paragraph--type--queue .story-group--teaser {
    float: right;
    max-width: 340px;
    width: 34%; } }

.column-left {
  margin-bottom: 20px; }
  @media (min-width: 961px) {
    .column-left {
      float: left;
      max-width: 630px;
      width: calc(66% - 50px); } }

.column-right {
  margin-bottom: 20px; }
  @media (min-width: 961px) {
    .column-right {
      float: right;
      max-width: 340px;
      width: 34%; } }

.story-link {
  display: block;
  margin-bottom: 50px; }
  .story-link:hover {
    opacity: .8;
    text-decoration: none; }
    .story-link:hover .field--name-field-kicker,
    .story-link:hover h4,
    .story-link:hover .field--name-field-body-introduction {
      color: #9a4d4d; }

.story--teaser-image-medium,
.story--teaser-image-large {
  margin-bottom: 35px; }
  @media (min-width: 961px) {
    .story--teaser-image-medium,
    .story--teaser-image-large {
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: 50% 50%;
          grid-template-columns: 50% 50%;
      margin-bottom: 50px; } }

.story--teaser-image-large img {
  width: 100%; }
  @media (min-width: 961px) {
    .story--teaser-image-large img {
      width: 480px; } }

@media (min-width: 961px) {
  .story--teaser-image-large .content {
    border-bottom: 1px solid #7d7d7d; } }

.story--teaser-image-medium img {
  float: left;
  margin-right: 30px;
  width: 192px; }
  @media (min-width: 961px) {
    .story--teaser-image-medium img {
      float: none;
      max-width: 95%;
      width: 290px; } }

.story--teaser-image-medium .content {
  border-bottom: 1px solid #7d7d7d; }

.story--teaser-image-medium .node__content {
  margin-bottom: 25px; }
  .story--teaser-image-medium .node__content:before {
    clear: both;
    content: " ";
    display: table; }
  @media (min-width: 961px) {
    .story--teaser-image-medium .node__content {
      margin-bottom: 40px; } }

h4 {
  color: black;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px; }
  .node--view-mode-teaser-image-large h4 {
    font-size: 42px;
    font-weight: 500;
    line-height: 40px;
    text-transform: uppercase; }

.field--name-field-kicker {
  color: #808080;
  font-family: "Oswald", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase; }

.field--name-field-body-introduction {
  color: #666666;
  font-family: "Helvetica", sans-serif;
  font-size: 15px;
  line-height: 18px; }

.field--name-field-ad-right img,
.field--name-field-ad-left img {
  height: auto;
  width: 100%; }

.user-login-form input {
  max-width: 100%; }
  @media (min-width: 821px) {
    .user-login-form input {
      width: 50%; } }

/*# sourceMappingURL=styles.css.map */
