.menu-trigger {
  font-size: 30px;
  text-align: center;
  margin: 0 0 0 40px;
  width: 30px;

  svg {
    color: red;
  }
}

.menu-trigger-text {
  color: white;
  font-family: $ff-din-regular;
  font-size: 11px;

  @include breakpoint($desktop) {
    font-size: 11.4px;
  }
}

.menu-trigger-desktop {
  display: none;

  @include breakpoint($desktop) {
    display: block;
    left: 20px;
    position: absolute;
    top: 40px;
    z-index: 200;
  }
}

// 36
.menu-expanded-close {
  margin-bottom: 10px;
  text-align: right;
  text-transform: uppercase;

  .menu-expanded-close-text {
    border: 1px solid #757575;
    display: inline-block;
    padding: 3px 10px;
  }
}

//54
.region-expanded-menu {
  background: black;
  color: white;
  display: none;
  font-family: $ff-din-regular;
  font-size: 16px;
  height: 100%;
  min-height: calc(100vh - 80px);
  line-height: 22px;
  padding: 0 30px 30px;
  position: absolute;
  transition: none;
  width: 100%;
  top: 80px;
  z-index: 200;

  @include breakpoint($desktop) {
    top: 150px;
    min-height: calc(100vh - 150px);
    width: 220px;
  }

  ul {

    margin: 0 0 10px;
    padding: 0;
    list-style: none;

    li {

      margin: 0;
      padding: 0;
      list-style: none;

      a {

        padding: 5px 0;

      }

    }

  }

  nav > ul > li > a {

    color: white;
    text-transform: uppercase;

  }
}

// 95
.region-expanded-menu .block-search {
  width: 100%;

  h2 {
    font-size: 16px;
    margin-bottom: 0;
    text-transform: uppercase;
  }

  form {
    position: relative;
  }

  .form-search {
    color: black;
    font-size: 18px;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
  }

  svg {
    color: #B3B5B8;
    font-size: 30px;
    position: absolute;
    right: 5px;
    top: 7px;
  }

  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color: transparent;
    font-size: 0px;
    position: absolute;
    height: 40px;
    right: 5px;
    top: 0;
    width: 40px;
    z-index: 400;
  }
}