.region-main-menu {
  background: black;
  border-top: 1px solid #747474;
  display: none;
  font-family: $ff-din-regular;
  font-size: 12px;
  margin-bottom: 52px;
  text-transform: uppercase;
  width: 100%;
  z-index: $z-atmosphere;

  @include breakpoint($desktop) {
    display: block;
  }

  .page-container {
    @include breakpoint($desktop) {
      display: grid;
      grid-template-columns: auto 200px;
    }
  }

  ul {
    @include ul-menu;
  }

  li {
    display: inline-block;
  }

  // Make first link flush with logo.
  nav > ul > li:first-child > a {
    padding-left: 0;
  }

  // Level One  Links
  nav > ul > li {
    > a {
      @include link-colors(white, $c-red-light, $c-red-light);
      display: block;
      padding: 2px 20px 2px;

      @include breakpoint($desktop-large) {
        padding: 2px 40px 2px;
      }
    }

    // hover/active state
    &.menu-item--active-trail > a,
    > a.is-active,
    > a:hover {
      color: $c-red-light;
      text-decoration: none;
    }
  }

  // Level Two - Dropdowns
  .menu-item--expanded {
    @include dropdown;

    // Triangle
    ul:before {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid rgba(255, 255, 255, 0.95);
      color:  rgba(255, 255, 255, 0.95);
      content: '.';
      height: 0;
      position: absolute;
      top: -10px;
      width: 0;
    }
  }

  a {
    padding: 2px 20px 2px;
  }

  // Level Two Active
  // When second level is active
  .primary-level-two-active {
    display: none;

    @include breakpoint($desktop-large) {
      background: rgba(250, 250, 250, .4);
      display: block;
      left: 0;
      text-transform: none;

      li {
        display: inline-block;

        &:hover a,
        &.menu-item--active-trail a {
          background: white;
          border-color: transparent;
        }
      }
    }

    a {
      margin-left: 0;
    }
  }

  // Level Three - Flyouts
  ul > .menu-item--expanded {

    li > a:after {
      color: $c-red;
      transform: rotate(270deg);
      right: 14px;
      top: 10px;
    }

    li:hover {
      > a:after {
        color: white;
      }
    }
  }
}
