.embedded-entity ~ * {
  position: static;
}

div.embedded-entity .media { // embed without caption
  border-bottom: 10px solid $c-red;
  margin: 0 auto 20px auto;
}

.caption-div { // Any embed with a caption
  border-bottom: 10px solid $c-red;
  margin: 0 auto 20px auto;
  figcaption {
    font-family: $ff-din-regular;
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 16px;
    padding-top: 4px;
  }
}

div.embedded-entity, // Any embed without caption
.caption-div.embedded-entity { // Any embed with a caption
  img {
    height: auto;
    width: 100%;
  }
}

div.embedded-entity .media--view-mode-embed, // embed without caption
.caption-div.embed { // embed narrow with caption
  max-width: 290px;

  @include breakpoint($handheld) {
    float: left;
    margin: 4px 20px 20px 0;
  }

  @include breakpoint($desktop) {
    margin-bottom: 20px;
    margin-left: -88px;
    margin-right: 40px;
  }
}

div.embedded-entity .media--view-mode-embed-narrow, // embed narrow without caption
.caption-div.embed-narrow { // embed narrow with caption
  max-width: 210px;

  @include breakpoint($handheld) {
    float: left;
    margin: 0 20px 20px 0;
  }
}  

.caption-div.embed-wide {
  float: none;
  max-width: 100%;
  width: 100%;

  @include breakpoint($desktop) {
    margin: 0 auto;
  }
}

//Used on node/5 only as of 3/21/18.
.embedded-entity.full {
  margin-bottom: 40px;

  .media {
    border: 0;
  }
}
