// Styles specific to the follow links in the site footer.
.footer-wrapper {
  // See _footer.scss for global footer styles.

  .follow-label {
    font-size: 16px;
    text-transform: uppercase;
  }

  .social-links {
    display: block;
    text-align: center;

    li {
      display: inline-block;
      margin: 0 10px;
    }
  }
}

// Follow links on at top of content. Used on node/5 only as of 3/21/18.
.node__content .follow {
  margin-bottom: 50px;
  justify-content: center;

  li {
    margin: 0 10px;

    @include breakpoint($desktop) {
      margin: 0 30px;
    }
  }
}
