button,
input[type=submit] {
  @include ff-din-bold;
  background: $c-red;
  border: 0;
  color: white;
  padding: 6px 16px;
  text-transform: uppercase;

  &:hover {
    background: $c-gr80;
  }
}

label {
  display: block;
  font-family: $ff-serif;
  font-size: 16px;
  font-weight: 700;
}

input[type=text],
input[type=password],
input[type=email] {
  line-height: 40px;
  margin-bottom: 6px;
  width: 100%;
}

.form-submit {
  line-height: 1;
}

textarea {
  border: 1px solid #CBCFD6;
}

select {
  appearance: none;
  background: none;
  border: 1px solid #CBCFD6;
  border-radius: 5px;
  color: #46494B;
  height: 50px;
  line-height: 1;
  padding: 10px;
  width: 100%;
}

.form-type-select{
  position: relative;
}
