.node--type-insert-box {
  border-top: 4px solid $c-black;
  padding-top: 13px;
  border-bottom: 10px solid $c-red;
  font-family: $ff-helv;
  font-size: 15px;
  line-height: 18px;
  margin: 0 auto 20px;
  max-width: 80%;

  @include breakpoint($desktop) {
    float: left;
    margin-bottom: 20px;
    margin-left: -88px;
    margin-right: 40px;
    max-width: 290px;
  }

  .story-label {
    margin-bottom: 0;
  }

  h2 {
    font-size: 28px;
    line-height: 36px;
    text-transform: uppercase;
    margin-bottom: 10px;
  }

  img,
  object {
    height: auto;
    max-width: 100%;
  }

  .story-link {
    @include teaser-tiny;
  }

}

.series .all-link {
  text-align: center;
}
