.column-left {
  .paragraph--type--nested {
    .field--name-field-display-title {
      @include paragraph-nested-title;
      border-width: 1px;
      font-size: 20px;
      line-height: 25px;

      &:after {
        height: 20px;
        width: 40px;
      }
    }
  }
}

.column-right {
  .weekend-also {
    @include paragraph-nested-title;
    border-width: 4px;
    font-size: 30px;
    line-height: 40px;

    &:after {
      height: 40px;
      width: 20px;
    }
  }

  .paragraph--type--nested {
    .field--name-field-display-title {
      border-top: 1px solid $c-gr7d;
      font-family: $ff-din-bold;
      font-size: 16px;
      line-height: 40px;
    }
  }
}
