.slice-title {
  border-top: 1px solid red;
  color: red;
  font-size: 28px;
  font-weight: $fw-black;
  line-height: 32px;
  text-transform: uppercase;
}

.story-group--teaser_image_medium {

  @include breakpoint($desktop) {
    float: left;
    max-width: 630px;
    width: calc(66% - 50px);
  }
}

.story-group--teaser {
  @include breakpoint($desktop) {
    float: right;
    max-width: 340px;
    width: 34%;
  }
}

.story--teaser-image-medium,
.story--teaser-image-large {
  margin-bottom: 50px;

  @include breakpoint($desktop) {
    display: grid;
    grid-template-columns: 50% 50%;
  }

  .content {
    border-bottom: 1px solid;
  }
}

h4 a {
  @include link-colors(black, red);
  color: black;
  font-size: 30px;
  font-weight: $fw-medium;
  line-height: 30px;

  .node--view-mode-teaser-image-large & {
    font-size: 42px;
    font-weight: $fw-bold;
    line-height: 40px;
    text-transform: uppercase;
  }
}

.field--name-field-kicker {
  color: #808080;
  font-family: $ff-nitti;
  font-size: 16px;
  font-weight: $fw-light;
  text-transform: uppercase;
}

.field--name-field-body-introduction {
  color: #666666;
  font-family: "Helvetica", Sans-Serif;
  font-size: 15px;
  line-height: 18px;
}
