.paragraph-stories {
  margin-bottom: 50px;
}

// Slice Title
.slice-title {
  border-top: 1px solid red;
  color: red;
  font-size: 28px;
  font-weight: $fw-black;
  line-height: 32px;
  position: relative;
  text-transform: uppercase;

  &:after {
    background: red;
    content: '';
    height: 30px;
    position: absolute;
    right: 0;
    top: 0;
    width: 60px;
  }
}

// Slice Date.
.field--name-field-date {
  color: red;
  font-size: 10px;
  text-transform: uppercase;

  @include breakpoint($desktop) {
    font-size: 16px;
  }
}

// Groups.
.story-group--teaser_image_large {
  @include clearfix;
}

.paragraph--type--queue {
  .story-group--teaser_image_medium {
    @include page-left;
  }

  .story-group--teaser {
    @include page-right;
  }
}

.column-left {
  @include page-left;
  margin-bottom: 20px;
}

.column-right{
  @include page-right;
  margin-bottom: 20px;
}

// Ads.
.field--name-field-ad-right,
.field--name-field-ad-left {
  img {
    height: auto;
    width: 100%;
  }
}

// Article Node.
.story--teaser-image-medium,
.story--teaser-image-large {
  margin-bottom: 35px;

  @include breakpoint($desktop) {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 50px;
  }
}

.story--teaser-image-large {
  img {
    padding-bottom: 5px;
    width: 100%;

    @include breakpoint($desktop) {
      width: 480px;
    }
  }

  .content {
    @include breakpoint($desktop) {
      border-bottom: 1px solid;
    }
  }
}

.story--teaser-image-medium {
  img {
    float: left;
    margin-right: 30px;
    padding-bottom: 15px;
    width: 192px;

    @include breakpoint($desktop) {
      float: none;
      max-width: 95%;
      width: 290px;
    }
  }

  .content {
    border-bottom: 1px solid;
  }

  .node__content {
    @include clearfix-before;
    margin-bottom: 25px;

    @include breakpoint($desktop) {
      margin-bottom: 40px;
    }
  }
}

// Node Title.
h4 a {
  @include link-colors(black, red);
  color: black;
  font-size: 30px;
  font-weight: $fw-medium;
  line-height: 30px;

  .node--view-mode-teaser-image-large & {
    font-size: 42px;
    font-weight: $fw-bold;
    line-height: 40px;
    text-transform: uppercase;
  }
}

// Kicker.
.field--name-field-kicker {
  color: #808080;
  font-family: $ff-nitti;
  font-size: 16px;
  font-weight: $fw-light;
  text-transform: uppercase;
}

// Teaser/Image.
.field--name-field-body-introduction {
  color: #666666;
  font-family: "Helvetica", Sans-Serif;
  font-size: 15px;
  line-height: 18px;
}
