/**
 * Styles specific to the social share links.
 */
.more-links {
  @include open-transition;
  background: rgba( 255, 255, 255, .9);
  border: 1px solid $c-grb2;
  font-family: $ff-din-medium;
  font-size: 12px;
  line-height: 16px;
  list-style: none;
  padding: 10px 15px 10px;
  position: absolute;
  right: 0;
  text-transform: uppercase;
  top: 33px;
  z-index: 1;

  @include breakpoint($desktop) {
    bottom: 20px;
    right: -141px;
    top: auto;
    width: 130px;
  }

  .story-social-bottom & {
    @include breakpoint($desktop) {
      bottom: 70px;
      right: calc(50% - 65px);
    }
  }

  li {
    height: auto;
    margin: 0 0 10px;
    text-align: left;
    width: auto;

    .story-social-bottom & {
      display: block;
      margin: 0 0 10px;
    }
  }

  a {
    @include link-colors($c-black, $c-red);

    &:hover {
      text-decoration: none;
    }
  }

  .more-links-close {
    background: $c-gr80;
    color: white;
    margin: 0 0 10px;
    padding: 2px 0 3px;
    text-align: center;

    &:hover {
      background: $c-red;
      cursor: pointer;
    }
  }
}

.story-social-left {

  @include breakpoint($desktop) {
    position: absolute;
    left: -80px;
  }

  .social-links {
    @include breakpoint($desktop) {
      display: block;
      padding: 0;
      margin: 5px 0 0 0;
    }
  }

  li {
    @include breakpoint($desktop) {
      display: block;
    }
  }
}

.story-social-bottom {
  text-align: center;

  .social-links {
    @include breakpoint($desktop) {
      display: inline-block;
    }
  }

  li {
    @include breakpoint($desktop) {
      display: inline-block;
      margin: 0 10px;
    }
  }
}
