.view-sw-search {
  .story-link {
    margin-bottom: 10px;
  }
  .views-row {
    margin-bottom: 50px;
  }

  .field--name-field-teaser p.field--name-created {
    margin-top: 5px;
  }

  .field--name-field-blog-comment {
    color: #666666;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 18px;
    @include breakpoint($desktop) {
      font-size: 15px;
    }
  }

  .node__content,
  .views-field-search-api-excerpt {
    color: $c-hover;
    font-size: 13.5px;
    line-height: 18px;
  }

  .highlighted-results {
    margin: 10px 0;
  }

  .views-field-search-api-excerpt,
  .highlighted-results {
    strong {
      color: $c-black;
    }
  }

  h2 {
    margin-bottom: 0;

    a {
      @include link-colors($c-black, $c-hover, $c-visited);
      font-size: 24px;
    }
  }

}
