.view-sw-search {
  .story-link,
  .teaser-conditional-with-image {
    margin-bottom: 0;
  }
  .views-row {
    margin-bottom: 50px;
  }
  .views-field-search-api-excerpt {
    font-size: 14px;
    line-height: 18px;
  }
}
