.view-sw-what-were-reading {

  .story-link {
    @include teaser-tiny;
  }

  .node__content {
    color: $c-gr6;
    font-size: 14px;

    .field--name-field-publication {
      float: left;
      font-family: $ff-helv;
      font-style: italic;
    }

    .field--name-field-publication-date {
      float: right;
      font-family: $ff-helv;
    }
  }

  .more-link {
    font-family: $ff-helv;
    font-size: 13px;
    text-align: left;
  }
}
