.view-sw-issue-stories {
  .field--name-field-issue-cover-image img {
     margin: 0 auto 20px;
  }
  @include breakpoint($handheld) {
    .field--name-field-issue-cover-image img {
      float: right;
      margin: 0 0 0 20px;
    }
  }
  .field--name-field-issue-top-stories {
    margin: 40px 0 0 0;
    clear: both;
  }
  .content {
    margin: 0 0 40px 0;
  }
}
