.svg-facebook-dims {
	width: 48px;
	height: 48px;
}

.svg-mail-dims {
	width: 48px;
	height: 48px;
}

.svg-placeholder-dims {
	width: 48px;
	height: 48px;
}

.svg-plus-dims {
	width: 48px;
	height: 48px;
}

.svg-rss-dims {
	width: 48px;
	height: 48px;
}

.svg-twitter-dims {
	width: 48px;
	height: 48px;
}

