// Default Styles - Global
// --------------------------------------------------------

.page * {
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  position: relative;

  .contextual {
    position: absolute;
  }
}

body {
  font-family: $ff-helv;
  font-size: 18px;
  line-height: 30px;
  margin: 0;
}

// h1-h6
h1  {
  font-size: 45px;
  line-height: 55px;
}

h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 48px;
}

h3 {
  font-size: 36px;
  line-height: 50px;

  .view & {
    @include title-fancy-red;
  }
}

h4 {
  font-size: 21px;
  line-height: 28px;
  text-transform: uppercase;
}

h5 {
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
}

// links
a {
  @include a-text;
}

// Image Styles
img {
  display: block;

  @include breakpoint($tablet) {
    &.align-left,
    .align-left & {
      padding-right: 20px;
    }

    &.align-right,
    .align-right & {
      padding-left: 20px;
    }

    &.align-center,
    .align-center & {
      margin: 0 auto;
    }
  }
}

hr {
  border: none;
  height: 10px;
  display: block;
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative;

  &::after,
  &::before {
    background: $c-red;
    content: ' ';
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
  }

  &::before {
    left: calc(50% - 15px);
  }

  &::after {
    right: calc(50% - 15px);
  }
}

blockquote {
  font-size: 90%;
}

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}

// Hide that SVG.
.svgsprite {
  display: none;
}

// List Styles
.item-list {
  ul,
  ol {
    li {
      margin-bottom: .5em;
    }
  }
}

// Global Content Styles
// --------------------------------------------------------

.submitted {
  color: grey;
  font-size: 13px;
}

.clearfix {
  @include clearfix;
}

.page-container,
main {
  @include page-container;
}

.page-title {
  font-family: $ff-din-bold;
  font-size: 60px;
  letter-spacing: -2px;
  text-transform: uppercase;
}

.region-content,
.region-sidebar {
  margin-top: 52px;
}

.layout-sidebar {
  .region-content {
    @include breakpoint($desktop) {
      float: left;
      width: calc(100% - 350px);
    }
  }

  .region-sidebar {
    @include breakpoint($desktop) {
      float: right;
      padding-left: 30px;
      width: 350px;
    }
  }
}
