// Default Styles - Global
// --------------------------------------------------------

.page * {
  box-sizing: border-box;
  transition: all .2s ease-out;
  position: relative;

  .contextual {
    position: absolute;
  }
}

body {
  @include body-style;
  margin: 0;
}

// h1-h6
h1  {
  font-size: 30px;
  line-height: 40px;
  @include breakpoint($tablet) {
    font-size: 45px;
    line-height: 55px;
  }
}

h2 {
  font-size: 20px;
  line-height: 25px;
}

h3 {
  font-size: 18px;
  line-height: 22px;
}

// Node Title.
h4 {
  color: black;
  font-size: 30px;
  line-height: 1;
  margin-bottom: .5em;
}

h5 {
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include ff-din-bold;
  margin-top: 0;
}

p {
  margin-top: 0;
}

// links
a {
  @include a-text;
}

// Image Styles
img {
  display: block;

  @include breakpoint($tablet) {
    &.align-left,
    .align-left & {
      padding-right: 20px;
    }

    &.align-right,
    .align-right & {
      padding-left: 20px;
    }

    &.align-center,
    .align-center & {
      margin: 0 auto;
    }
  }

  .media--view-mode-ad & {
    height: auto;
    max-width: 100%;
  }
}

hr {
  border: none;
  height: 10px;
  display: block;
  padding-bottom: 30px;
  padding-top: 20px;
  position: relative;

  &::after,
  &::before {
    background: $c-red;
    content: ' ';
    display: block;
    height: 10px;
    position: absolute;
    width: 10px;
  }

  &::before {
    left: calc(50% - 15px);
  }

  &::after {
    right: calc(50% - 15px);
  }
}

blockquote {
  font-size: 90%;
  line-height: 24px;
}

span.bullet {
  background: $c-red;
  content: ' ';
  height: 10px;
  width: 10px;
  margin: 0 5px 0 0;
  display: inline-block;
}

.marker {
  background: black;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 2px 2px 3px 4px;
}

// Hide that SVG.
.svgsprite {
  display: none;
}

// List Styles
.item-list {
  ul,
  ol {
    li {
      margin-bottom: .5em;
    }
  }
}

body ul {
  @include ul-unstyled;
}

// Global Content Styles
// --------------------------------------------------------

.submitted {
  color: grey;
  font-size: 13px;
}

.field--name-created {
  color: #808080;
  display: block;
  font-family: $ff-din-regular;
  font-size: 14px;
}

.clearfix {
  @include clearfix;
}

.page-container,
main {
  @include page-container;
}

.node__content-full {
  margin-bottom: 50px;
}

.page-title {
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  letter-spacing: -1px;
  padding-bottom: 20px;

  @include breakpoint($tablet) {
    font-size: 50px;
    line-height: 50px;
  }

  @include breakpoint($desktop) {
    font-size: 60px;
    line-height: 55px;
  }

  &.page-title-full {
    margin-bottom: 10px;
  }
}

// Story Label.
.story-label {
  color: #808080;
  font-family: $ff-nitti;
  font-size: 14px;
  font-weight: $fw-light;
  letter-spacing: 2px;
  line-height: 18px;
  text-transform: uppercase;

  @include breakpoint($desktop) {
    font-size: 16px;
  }
}


// Teaser Body Style.
.helvetica,
.field--name-field-teaser {
  color: #666666;
  font-family: "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 18px;

  @include breakpoint($desktop) {
    font-size: 15px;
  }

  p {
    margin: 0;
  }
}

// Story Link.
.story-link {
  display: block;
  margin-bottom: 50px;

  &:hover {
    text-decoration: none;

    h4 {
      color: $c-red;
    }

    .field--name-field-kicker,
    .field--name-field-teaser {
      color: $c-hover;
      opacity: .8;
    }

    img {
      opacity: .9;
    }
  }

  &:visited {
    .field--name-field-kicker,
    h4,
    .field--name-field-teaser {
      color: $c-visited;
    }

    body &:hover {
      h4 {
        color: $c-visited-hover;
      }
    }
  }
}

// Fineprint
.fineprint {
  display: block;
  font-size: 13px;
  line-height: 16px;
}

// Float image in container.
.align-image-left { // Apply to parent.
  @include clearfix;
  margin-bottom: 50px;

  h3,
  .helvetica {
    float: right;
    margin-bottom: 4px;
    width: 49%;

    @include breakpoint($handheld) {
      width: calc(100% - 260px);
    }
  }

  div.embedded-entity {
    .media {
      border: 0;
    }

    img {
      float: left;
      height: auto;
      margin-bottom: 70px;
      width: 49%;

      @include breakpoint($handheld) {
        margin-bottom: 0;
        margin-right: 10px;
        max-width: 220px;
        width: 100%;
      }
    }
  }
}

// Make contextual links accessible.
.contextual {
  z-index: $z-galaxy;
}

// Tabs.
.tabs {
  font-family: $ff-helv;
}
