.footer-wrapper {
  background: black;
  color: white;
  font-size: 10px;

  .block {
    max-width: 1170px;
    margin: 10px auto;
    padding: 10px;
  }

  p {
    margin: 0;
  }

  p:first-of-type {
    color: $c-link;
    text-align: center;
  }
}