// See _social-links.css for those styles.

.footer-wrapper {
  background: black;
  color: white;
  font-family: $ff-din-regular;
  font-size: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: center;

  .block {
    @include page-container;
  }

  p {
    margin: 0;
    font-family: $ff-helv;
    font-size: 12px;
    font-weight: $fw-light;
    line-height: 16px;
  }

  p:first-of-type {
    color: $c-link;
  }
}
