.region-main-menu .search-block-form {
  padding-top: 6px;
  text-align: right;

  .form-search {
    display: none;
  }

  svg {
    color: white;
    font-size: 18px;
    padding-right: 7px;
    padding-top: 3px;
  }

  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: transparent;
    border: none;
    color: white;
    font-size: 16px;
    padding: 13px 0;
    text-transform: uppercase;
  }
}
