.header {
  background: black;
  color: white;
  margin-bottom: 52px;
  padding: 15px 0 5px;
  text-align: left;

  @include breakpoint($desktop) {
    margin-bottom: 0;
    padding: 30px 0 20px;
    vertical-align: bottom;
  }
}

.header-logo-group {
  float: left;
  width: calc(100% - 70px);

  @include breakpoint($desktop) {
    display: flex;
    width: 100%;
  }
}

.header-logo {

  @include breakpoint($desktop) {
    align-self: flex-end;
    display: inline-block;
    width: calc(100% - 275px);
  }

  img {
    height: auto;
    width: 100%;

    @include breakpoint($desktop) {
      margin: 0;
      max-width: 575px;
    }
  }
}

.header-sublogo {
  font-family: $ff-din-medium;
  font-size: 12px;
  line-height: 1;
  text-transform: uppercase;

  @include breakpoint($desktop) {
    align-self: flex-end;
    display: inline-block;
    text-align: right;
    width: 275px;
  }
}

.sublogo-mod {
  color: #757575;
}

.region-header {
  display: none;
  text-align: right;
  vertical-align: middle;
  width: calc(100% - 198px);

  @include breakpoint($desktop) {
    display: inline-block;
  }
}

.header-menu-expandable-mobile {
  float: right;
  width: 70px;

  @include breakpoint($desktop) {
    display: none;
  }
}
