.region-main-menu .search-block-form {
  display: inline-block;
  vertical-align: middle;

  .form-wrapper {
    display: inline-block;
    margin: 0;
    position: relative;

    .form-submit {
      background: none;
      border: 0;
      border-radius: 0;
      color: white;
      margin: 0;
      padding: 0;
      text-transform: uppercase;

      &:hover {
        background: none;
      }
    }
  }
}
