.region-main-menu .search-block-form {
  text-align: right;

  .form-type-search {
    margin: 0;

    label {
      display: none;
    }

    input {
      line-height: 18px;
      margin-bottom: 0;
      padding-right: 76px;
      vertical-align: middle;
    }
  }

  svg {
    color: #B3B5B8;
    font-size: 18px;
    padding-right: 7px;
    padding-top: 3px;
    position: absolute;
    right: 0;
    top: 4px;
    z-index: $z-galaxy;
  }

  .form-actions {
    display: inline;
    position: absolute;
    right: 0;
    top: 1px;
  }

  .button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background: $c-black;
    border: 0;
    color: white;
    font-size: 12px;
    margin: 0 3px 0 0;
    padding: 3px 20px 4px 7px;
    text-transform: uppercase;

    &:hover {
      background: $c-red;
    }
  }
}
