// Sidebar layout and reordering elements for mobile happens here.
.region-sidebar {
  @include breakpoint($tablet) {
    padding-left: 50px;
  }

  @include breakpoint($desktop) {
    padding-left: 70px;
  }
}

.layout-sidebar {
  // @see _mixins for direction from page-left and page-right.

  .flexible--container {
    display: flex;
    flex-direction: column;

    @include breakpoint($tablet) {
      display: grid;
      grid-template-columns: auto 290px;
    }

    @include breakpoint($desktop) {
      grid-template-columns: auto 390px;
    }
  }

  .region-content {
    order: 1;

    @include breakpoint($desktop) {
      order: 0;
    }
  }

  .region-sidebar {
    margin: 0 auto;
    max-width: 500px;
    order: 3;

    @include breakpoint($desktop) {
      order: 0;
    }
  }

  .region-content-bottom {
    order: 2;

    @include breakpoint($desktop) {
      grid-column-start: 1;
      grid-column-end: 3;
      order: 0;
    }
  }
}

