// Sidebar layout and reordering elements for mobile happens here.
.layout-sidebar {
  // @see _mixins for direction from page-left and page-right.

  .flexible--container {
    display: flex;
    flex-direction: column;

    @include breakpoint($tablet) {
      @include ie-grid-2;
      display: grid;
      grid-column-gap: 40px;
      grid-template-columns: 1fr 1fr;
    }

    @include breakpoint($desktop) {
      grid-template-columns: auto 290px;
      grid-column-gap: 0;
    }

    @include breakpoint($desktop-large) {
      grid-template-columns: auto 390px;
    }
  }

  .region-content {
    order: 1;

    @include breakpoint($tablet) {
      grid-column-start: 1;
      grid-column-end: 3;
    }

    @include breakpoint($desktop) {
      grid-column-start: 1;
      grid-column-end: 1;
      order: 0;
    }
  }

  .region-sidebar {
    max-width: 500px;
    order: 3;

    @include breakpoint($desktop) {
      order: 0;
      padding-left: 50px;
    }

    @include breakpoint($desktop-large) {
      padding-left: 70px;
    }
  }

  .region-content-bottom {
    order: 2;

    @include breakpoint($desktop) {
      grid-column-start: 1;
      grid-column-end: 3;
      order: 0;
    }
  }
}

