.page-node-type-story {

  .story-label {
    margin-bottom: 6px;
    a {
      color: #808080;
      text-decoration: none;
    }
    a:hover {
      color: $c-red;
      text-decoration: underline;
    }
    @include breakpoint($desktop) {
      font-size: 15px;
    }
  }

  .page-title {
    margin-bottom: 26px;

    @include breakpoint($desktop) {
      font-size: 56px;
      letter-spacing: -1px;
    }
  }

  .node__content {
    .sw-subject,
    .sw-author {
      font-weight: bold;
      a {
        color: $c-black;
      }
      a:hover {
        color: $c-red;
      }
    }
  }

  .field--name-field-introduction,
  .field--name-field-body-introduction {
    font-family: $ff-din-regular;
    font-size: 16px;
    line-height: 22px;
    border-bottom: 1px solid #808080;
    margin-bottom: 15px;
    b,
    strong,
    .sw-subject,
    .sw-author {
      @include ff-din-bold;
    }
  }

  .field--name-created {
    border-bottom: 1px solid #808080;
    margin-bottom: 20px;
  }

  .field--name-field-body {
    margin-bottom: 50px;

    > p:first-of-type {

      &:before {
        background: $c-red;
        color: $c-red;
        content: ' ';
        display: block;
        float: left;
        height: 40px;
        left: 0;
        margin-bottom: 0;
        margin-right: 10px;
        margin-top: 7px;
        width: 40px;
      }
    }

    .question {
      color: #808080;
      font-style: italic;
      font-weight: bold;
    }
  }

  .contributors {
    font-style: italic;
  }

  .series-navigation {
    @include clearfix;
    margin: 0 0 20px 0;
    .series-prev {
      float: left;
      margin: 0 20px 0 0;
    }
    .series-next {
      float: right;
      margin: 0 0 0 20px;
    }
    .nav-label {
      font-size: 15px;
      font-style: italic;
    }
    .story-link {
      @include teaser-tiny;
    }
  }

}
