// Breakpoints
// --------------------------------------------------------

/// Documentation: http://breakpoint-sass.com/
/// @group Media
/// @type breakpoint
$tablet : 821px;

/// Documentation: http://breakpoint-sass.com/
/// @group Media
/// @type breakpoint
$desktop : 961px;

/// Documentation: http://breakpoint-sass.com/
/// @group Media
/// @type breakpoint
$desktop-large: 1201px;
