@mixin a-text {
  @include link-colors($c-red);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@mixin body-style {
  font-family: $ff-serif;
  font-size: 18px;
  line-height: 22px;

  @include breakpoint($desktop) {
    line-height: 27px;
  }
}

@mixin button-base {
  @include link-colors(white);
  -webkit-appearance: none;
  border: 0;
  border-radius: 100px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: .64px;
  margin: 10px 0;
  padding: 12px 43px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    text-decoration: none;
  }
}


@mixin clearfix {
  &:after {
    clear: both;
    content: " ";
    display: table;
  }
}

@mixin clearfix-before {
  &:before {
    clear: both;
    content: " ";
    display: table;
  }
}

@mixin clear-reset {
  &:after {
    clear: none;
    content: none;
    display: inherit;
  }
}

@mixin dropdown { // Apply to .menu-item--expanded
  position: relative;

  ul {
    border-color: #DDDDDD;
    display: none;
    left: 31px;
    padding: 16px 0;
    position: absolute;
    text-align: left;
    width: 238px;
    z-index: $z-solar-system;
  }

  &:first-child ul {
    left: 0;
  }

  &:hover ul {
    display: block;
  }

  // Level Two - Links
  li {
    display: block;
    margin: 0;
  }

  li a {
    @include link-colors($c-black, $c-red, $c-red);
    background: rgba( 255, 255, 255, .95);
    display: block;
    font-size: 16px;
    margin: 0;
    text-transform: none;

    &:hover {
      color: $c-red;
      text-decoration: none;
    }
  }

  ul ul {
    left: 236px;
    top: 0;
  }
}

@mixin ff-din-bold {
  font-family: 'FF DIN Pro Bold', sans-serif;
  font-weight: normal;
}

/// H1-6 loop
@function headings($from:1, $to:6) {
  @if $from == $to {
    @return 'h#{$from}';
  } @else {
    @return 'h#{$from},' + headings($from+1, $to);
  }
}

/// Link mixin
/// @param {color} $normal - normal color
/// @param {color} $hover  - hover
/// @param {color} $active - active
/// @param {color} $focus - focus
@mixin link-colors($normal, $hover: false, $active: false, $visited: false, $focus: false) {
  &:link {
    color: $normal;
  }

  @if $visited {
    &:visited,
    &:link:visited {
      color: $visited;
    }
  } @else {
    &:visited,
    &:link:visited {
      color: $normal;
    }
  }

  @if $focus {
    &:focus {
      color: $focus;
    }
  } @else {
    &:focus {
      color: $normal;
    }
  }

  @if $hover {
    &.is-active:hover,
    &.active:hover,
    .menu-item--active-trail a:hover,
    &.visited:hover,
    &:hover {
      color: $hover;
    }
  } @else {
    &.active:hover,
    .menu-item--active-trail &:hover,
    &.visited:hover,
    &:hover {
      color: $normal;
    }
  }

  @if $active {
    &.active,
    &.is-active,
    &:active,
    .menu-item--active-trail & {
      color: $active;
    }
  } @else {
    &.active,
    &.is-active,
    &:active,
    .menu-item--active-trail & {
      color: $normal;
    }
  }
}

@mixin open-transition {
  opacity: 0;
  transition: opacity .2s ease-out;
  visibility: hidden;

  &.open {
    opacity: 1;
    visibility: visible;
  }
}

@mixin page-container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;

  @include breakpoint($handheld) {
    padding: 0 15px;
  }

  @include breakpoint($tablet) {
    padding: 0 60px;
  }

  @include breakpoint($desktop) {
    padding: 0 120px;
  }
}

@mixin page-left {
  @include breakpoint($tablet) {
    float: left;
    max-width: 630px;
    width: calc(100% - 290px);
  }

  @include breakpoint($desktop) {
    float: left;
    max-width: 630px;
    width: calc(100% - 390px);
  }
}

@mixin page-right {
  @include breakpoint($tablet) {
    float: right;
    width: 240px;
  }

  @include breakpoint($desktop) {
    float: right;
    width: 320px;
  }
}

@mixin teaser-tiny { // apply to a.story-link
  margin-bottom: 25px;

  .story-label {
    font-size: 13px;
    margin-bottom: 0;
  }

  h4 {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    text-transform: none;
  }

  .field--name-field-teaser {
    font-size: 12px;
    line-height: 16px;
  }

}

@mixin title-fancy-black {
  @include ff-din-bold;
  border-top: 1px solid $c-black;
  color: $c-black;
  position: relative;
  text-transform: uppercase;

  &:after {
    // Add height and width of box here;
    background: $c-black;
    content: '';
    position: absolute;
    right: 0;
    top: 0;
  }
}

@mixin title-fancy-red {
  @include ff-din-bold;
  border-top: 1px solid $c-red;
  color: $c-red;
  font-size: 24px;
  line-height: 32px;
  padding-right: 57px;
  position: relative;
  text-transform: uppercase;

  &:after {
    background: $c-red;
    content: '';
    height: 26px;
    position: absolute;
    right: 0;
    top: 0;
    width: 52px;
  }
}
/// Apply to <ul> tag.
@mixin ul-menu {
  &.menu {
    list-style: none;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;

    li {
      list-style: none;
    }
  }
}

@mixin ul-unstyled {
  list-style: none;
  margin-bottom: 0;
  margin-left: 0;
  margin-top: 0;
  padding-left: 0;

  li {
    list-style: none;
    margin-left: 0;
  }
}
