/// @group Colors
$c-link: #EA3223;
$c-red: #ff0000;
$c-black: #1A272E;
$c-grb2: #b2b2b2;
$c-gr7d: #7d7d7d;
$c-grc7: #c7c7c7;

// Z-indices
/// @group Z-Index
/// @type z-index
$z-core: -100;

/// @group Z-Index
/// @type z-index
$z-crust: 0;

/// @group Z-Index
/// @type z-index
$z-atmosphere: 100;

/// @group Z-Index
/// @type z-index
$z-stratosphere: 200;

/// @group Z-Index
/// @type z-index
$z-solar-system: 300;

/// @group Z-Index
/// @type z-index
$z-galaxy: 400;

/// Font-Families
$ff-din-medium: 'FF DIN Pro Medium', sans-serif;
$ff-din-regular: 'FF DIN Pro Regular', sans-serif;
$ff-din-extra-light: 'FF DIN Pro Extra Light', sans-serif;
$ff-helv: Helvetica, sans-serif;
$ff-nitti: "Source Code Pro", monospace;
$ff-serif: "PT Serif", "Georgia", "Times New Roman", "Times", serif;

/// Font-Weights
/// @group Font Weight
$fw-thin: 100;

/// @group Font Weight
$fw-light: 300;

/// @group Font Weight
$fw-regular: 400;

/// @group Font Weight
$fw-medium: 400;

/// @group Font Weight
$fw-bold: 500;

/// @group Font Weight
$fw-black: 800;

// Breakpoints
$handheld: 540px;
$tablet : 821px;
$desktop : 961px;
$desktop-large: 1201px;
