// Content Bottom Blocks
.block-sw-recent-stories-block {
  margin-bottom: 60px;

  @include breakpoint($tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 50px;
  }

  @include breakpoint($desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 70px;
  }

  h2 {
    @include title-fancy-red;
    grid-column-start: 1;
    grid-column-end: 3;
    @include breakpoint($desktop) {
      grid-column-end: 4;
    }
  }

  .story-group {
    margin-bottom: 30px;
  }

  h3 {
    @include ff-din-bold;
    color: $c-red;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }

  ul {
    @include ul-unstyled;
  }

  a {
    @include teaser-tiny;
  }
}
