.block-sw-recent-articles-block {
  @include breakpoint($desktop) {
    border-bottom: 1px solid #bbb;
  }

  h2 {
    @include title-fancy-black;
    border-width: 2px;
    font-size: 26px;
    line-height: 28px;
    margin: 0;
    padding: 0 22px 0 0;

    &:after {
      height: 33px;
      width: 17px;
    }
  }
  
  .recent-articles-dates {
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid #bbb;
    margin-bottom: 20px;

    a {
      @include link-colors($c-black, $c-red, $c-red);
      text-decoration: none;
    }

    ul {
      margin: 0;
      padding: 0;
      width: calc(100% - 23px);

      li {
        display: inline-block;
        list-style: none;
        margin: 0;
        min-width: 45px;
        padding: 0;
        text-align: center;
        width: calc(100% / 6);

        a {
          display: block;
          font-family: $ff-din-regular;
          width: 100%;
        }
      }
    }
  }

  .recent-articles-tabs {
    a {
      margin-bottom: 0;
      text-decoration: none;
    }
    a:hover .headline {
      color: $c-red;
    }
    a:visited .headline {
      color: #725c5f;
    }
    a:visited:hover .headline {
      color: #72726c;
    }
    .story-label {
      font-size: 11px;
      line-height: 14px;
      margin: 0;
    }
    .headline {
      color: $c-black;
      font-size: 16px;
      line-height: 20px;
      font-family: $ff-din-medium;
    }
    ul {
      margin: 0;
      padding: 0;
      li {
        list-style: none;
        margin: 0 0 15px 0;
      }
    }
  }
}
