// Content Bottom Blocks
.block-sw-recent-stories-block {
  margin-bottom: 60px;

  @include breakpoint($tablet) {
    @include ie-grid-3;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 50px;
  }

  @include breakpoint($desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 0 70px;
  }

  h2 {
    @include title-fancy-red;
    grid-column-start: 1;
    grid-column-end: 3;
    width: 100%; //to make IE11 happy.

    @include breakpoint($desktop) {
      grid-column-end: 4;
    }
  }

  .story-group {
    margin-bottom: 30px;
  }

  h3 {
    color: $c-red;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
  }

  ul {
    @include ul-unstyled;
  }

  a {
    @include teaser-tiny;
  }
}

// Hide contextual link so grid doesn't break for users without permissions.
// @todo Better solution is to make sure the div either retains the 'contextual' class or doesn't render at all.
[data-contextual-id="block:block=sw_recent_stories:langcode=en"] {
  display: none;
}
